main
    section.banner-inner
        .banner-inner__title-holder
            .banner-inner__title.jsAppDown <span>Swipe</span> Insights
    section.first-inner-section.first-inner-section_xl-line
        .container
            .section-title-text.section-title-text_mb50.jsAppUp  Larry Scott and Nick Potts worked at CoverMyMeds, a software solution
                |for pharmacies. After connecting a bunch of pills with a bunch of pharmacists
                |they started ScriptDrop, a service that helps pharmacists deliver those same
                |prescriptions to your door. It’s active in New York now but expanding into
                |other areas soon.
            .section-title.jsAppLeft Posts
            .posts-thumb-wrap.jsGrid
                .grid-sizer
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')

                        .post-thumb__img
                            .post-thumb__img-overlay
                        .post-thumb__data
                            .post-thumb__title Digital Health
                            .post-thumb__autor
                                span Marco Ricci
                                span Doctor
                            .post-thumb__text The device is now approved
                                |for use in the US in 13 clinica
                                |applications, including proce
                                |ural guidance, cardiac, abdo
                                |nal, gynaecological, and mus
                                |loskeletal settings.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                            img(src='img/img-postthumb1.png' alt)
                        .post-thumb__data
                            .post-thumb__title The future for  pharma
                            .post-thumb__autor
                                span Mark Lieber
                                span Science
                            .post-thumb__text Now approved for use in the
                                |US in 13 clinical applications,
                                |including procedural guidance
                                |cardiac, abdominal.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                        .post-thumb__data
                            .post-thumb__title Pulling together
                                |in diabetes care
                            .post-thumb__autor
                                span Linda Banks
                                span Doctor
                            .post-thumb__text John Grumitt, vice president
                                |of Diabetes UK and chief
                                |executive of Changing
                                |Health, says digital health i
                                |nnovators can work.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                            img(src='img/img-postthumb2.png' alt)
                        .post-thumb__data
                            .post-thumb__title Digital Health
                            .post-thumb__autor
                                span Marco Ricci
                                span Doctor
                            .post-thumb__text The device is now approved
                                |for use in the US in 13 clinica
                                |applications, including proce
                                |ural guidance, cardiac, abdo
                                |nal, gynaecological, and mus
                                |loskeletal settings.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                            img(src='img/img-postthumb4.png' alt)
                        .post-thumb__data
                            .post-thumb__title The right formula
                                |for health
                            .post-thumb__autor
                                span Linda Banks
                                span Doctor
                            .post-thumb__text Nurse plus digital plus patient
                                |equals better outcomes, say
                                |Rebecca Galbraith and John
                                |Procter in their feature article
                                |in Deep Dive: Digital II.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                            img(src='img/img-postthumb5.png' alt)
                        .post-thumb__data
                            .post-thumb__title Finding pharma’s
                                |human side
                            .post-thumb__autor
                                span Erin Gabriel
                                span Science
                            .post-thumb__text Digital plus patient equals
                                |better outcomes, say Rebecca
                                |Galbraith and John Procter in
                                |their feature article.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                            img(src='img/img-postthumb3.png' alt)
                        .post-thumb__data
                            .post-thumb__title How to spot flu
                                |symptoms
                            .post-thumb__autor
                                span Marco Ricci
                                span Doctor
                            .post-thumb__text Now approved for use in the
                                |US in 13 clinical applications,
                                |including procedural guidance
                                |cardiac, abdominal.
                .jsGridItem
                    a.post-thumb.jsAppUp(href='#')
                        .post-thumb__img
                            .post-thumb__img-overlay
                            img(src='img/img-postthumb6.png' alt)
                        .post-thumb__data
                            .post-thumb__title Health
                            .post-thumb__autor
                                span Mary Ross
                                span Doctor
                            .post-thumb__text John Grumitt, vice president
                                |of Diabetes UK and chief
                                |executive of Changing
                                |Health, says digital health i
                                |nnovators can work.
    section.subsribe-sec
        .container
            .section-title.section-title_wh.section-title_center.jsAppUp Sign up to newsletter <b>for latest insights</b>
            .text.text_wh.text_center.jsAppUp
                p Gain an edge over competing brands by being the first to learn about future NAMM solutions, sign up for alerts and monthly insights here:
            .form-wrap.jsAppUp
                form
                    .input-control
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-10" />
                        <label class="input__label input__label--jiro" for="input-10">
                        <span class="input__label-content input__label-content--jiro">First Name</span>
                        </label>
                        </span>
                    .input-control.input-control_xl
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-11" />
                        <label class="input__label input__label--jiro" for="input-11">
                        <span class="input__label-content input__label-content--jiro">Email</span>
                        </label>
                        </span>
                    .input-control.input-control_butn
                        button.butn(type='submit') Subscribe


