main
    section.banner-inner
        .banner-inner__title-holder
            .banner-inner__title.jsAppDown <span> @ HCP</span> Resources
    section.first-inner-section
        .container
            .section-title-text.section-title-text_mb200.jsAppUp  In their spare time on weekends during Summer, you’ll find both Steve and Shannon keeping watch as volunteer lifeguards on patrol at Australia’s iconic Bondi Beach although they can’t lay claim to having appeared on the reality.
            .cat-service-wrap
                .cat-service-side-bar
                    ul.nav-cat-serv
                        li
                            a(href='#cat-serv1') DrawMD
                        li
                            a(href='#cat-serv2') Calculate
                        li
                            a(href='#cat-serv3') CancerAid
                .cat-service-main
                    .cat-service.jsAppUp#cat-serv1
                        .cat-service__img
                            img(src='img/img-cat-res1.png')
                        .cat-service__title DrawMD
                        .cat-service__text  There were quite a few trends this time around for You
                            |Combinator’s popular Demo Day, including a mountain of B2B
                            |startups AI, self-driving technology and of course an industry that
                            |continues to surge — health care.
                        .cat-service__butns
                            .cat-service__butn
                                a.butn.butn_border(href='#') SET AN APPOINTMENT
                            .cat-service__butn
                                a.butn.butn_border-black(href='#') MORE INFORMATION
                    .cat-service.jsAppUp#cat-serv2
                        .cat-service__img
                            img(src='img/img-cat-res2.png')
                        .cat-service__title Calculate
                        .cat-service__text  To eliminate the possibility that the differences were caused by
                            |other factors shared by the donors, such as the use of antipsyc
                            |medications, the researchers compared the brain samples with
                            |of nonhuman primates that were treated.
                        .cat-service__butns
                            .cat-service__butn
                                a.butn.butn_border(href='#') SET AN APPOINTMENT
                            .cat-service__butn
                                a.butn.butn_border-black(href='#') MORE INFORMATION
                    .cat-service.jsAppUp#cat-serv3
                        .cat-service__img
                            img(src='img/img-cat-res3.png')
                        .cat-service__title CancerAid
                        .cat-service__text  Combinator’s popular Demo Day, including a mountain of B2B
                            |startups AI, self-driving technology and of course an industry that
                            |continues to surge — health care. Come take a gander at some of
                            |the most promising health care startups to emerge.
                        .cat-service__butns
                            .cat-service__butn
                                a.butn.butn_border(href='#') SET AN APPOINTMENT
                            .cat-service__butn
                                a.butn.butn_border-black(href='#') MORE INFORMATION



    section.subsribe-sec
        .container
            .section-title.section-title_wh.section-title_center.jsAppUp Sign up to newsletter <b>for latest insights</b>
            .text.text_wh.text_center.jsAppUp
                p Gain an edge over competing brands by being the first to learn about future NAMM solutions, sign up for alerts and monthly insights here:
            .form-wrap.jsAppUp
                form
                    .input-control
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-10" />
                        <label class="input__label input__label--jiro" for="input-10">
                        <span class="input__label-content input__label-content--jiro">First Name</span>
                        </label>
                        </span>
                    .input-control.input-control_xl
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-11" />
                        <label class="input__label input__label--jiro" for="input-11">
                        <span class="input__label-content input__label-content--jiro">Email</span>
                        </label>
                        </span>


                    .input-control.input-control_butn
                        button.butn(type='submit') Subscribe


