main
    section.banner
        .banner__heading.container
            .banner__title.jsAppDown A new model of <b>healthcare agency</b>
            .banner__subtitle.jsAppDown Subheadline can go here if there is one
            .banner__butn.jsAppDown
                a.butn(href='#') WHAT’S NEW?
        a.arrow-down(href='#sol1')

    section.solutions#sol
        .container#sol1
            .section-title.jsAppLeft Solutions
            .solution-z-wrap
                .solution
                    .row.row-eq-height
                        .col-sm-7
                            a.solution__link.jsAppLeft(href='cat_resources.html')
                                .solution__img
                                    img(src='img/img-solution1.jpg' alt='')
                        .col-sm-5
                            .solution__info
                                a.solution__title.jsAppUp(href='cat_resources.html')  @HCP Resources
                                .solution__text.jsAppUp Value added digital resources developed to assist HCPs in practice and at the point of care
                                .solution__butn.jsAppUp
                                    a.butn.butn_border(href='#') READ MORE

                .solution
                    .row.row-eq-height
                        .col-sm-7.col-sm-push-5
                            a.solution__link.jsAppRight(href='#')
                                .solution__img
                                    img(src='img/img-solution2.jpg' alt='')
                        .col-sm-5.col-sm-pull-7
                            .solution__info
                                .solution__title.jsAppUp Medical Education
                                .solution__text.jsAppUp Leverage these resources as unique channels to deliver educational initiatives with high impact and immediate engagement
                                .solution__butn.jsAppUp
                                    a.butn.butn_border(href='#') READ MORE


                .solution
                    .row.row-eq-height
                        .col-sm-7
                            a.solution__link.jsAppLeft(href='#')
                                .solution__img
                                    img(src='img/img-solution3.jpg' alt='')
                        .col-sm-5
                            .solution__info
                                .solution__title.jsAppUp Patient Support
                                .solution__text.jsAppUp Deliver tailored communication and education to patients via these already popular patient support resources
                                .solution__butn.jsAppUp
                                    a.butn.butn_border(href='#') READ MORE

                .solution
                    .row.row-eq-height
                        .col-sm-7.col-sm-push-5
                            a.solution__link.jsAppRight(href='#')
                                .solution__img
                                    img(src='img/img-solution4.jpg' alt='')
                        .col-sm-5.col-sm-pull-7
                            .solution__info
                                .solution__title.jsAppUp Healthcare Communities
                                .solution__text.jsAppUp Provide your relevant healthcare association or create your own HCP community with a platform that facilitates communication, information-sharing, crowd sourcing and networking opportunities for its members.
                                .solution__butn.jsAppUp
                                    a.butn.butn_border(href='#') READ MORE

    section.aboutus#abo
        .container.container_sm
            .section-title.jsAppLeft About us
            .row
                .col-md-6
                    .text.jsAppUp
                        .text__title Swipe Health represents a new model of healthcare agency
                        p (see figure 1.)
                        p This model focusses primarily on developing high value medical content with our customers in the pharmaceutical and med device industries, then integrating it into what we refer to as NAMM.(link to below heading)
                        p The result for our clients is immediate and high user engagement for their medical communication initiatives, delivered with exceptional value when compared with more traditional methods.
                .col-md-6
                    a.aboutus__img.jsAppUp(href='img/img-aboutus.png', data-fancybox='gal-1')
                        img(src='img/img-aboutus.png' alt)

            .text.jsAppUp
                .text__title NAMM = New Age Medical Media
                p This term refers to the recent introduction of numerous independent and credible medical digital resources. Specifically, NAMM covers a range of medical apps, websites, and online platforms designed to benefit HCPs or patients across a variety of fields, from education and research to communication and information-sharing.
                p These resources are highly trusted as they are owned and operated by medical professionals who possess an inherent desire to provide valued, non-biased content and services to peers.
                p Owing to this pragmatic content along with successful design, these resources currently engage with tens of thousands to millions of HCPs, across the globe.
                p <b>Swipe Health enables clients to leverage these resources to create new channels of engagement for their medical communication initiatives.</b>

    section.partners
        .container
            .partners__title Our partnered NAMM solution providers have been featured in:
            .partners-logo
                .jsSliderLogo
                    .partners-logo__item
                        img(src='img/img-partner1.png' alt='')
                    .partners-logo__item
                        img(src='img/img-partner2.png' alt='')
                    .partners-logo__item
                        img(src='img/img-partner3.png' alt='')
                    .partners-logo__item
                        img(src='img/img-partner4.png' alt='')
        .container.container_sm
            .row
                .col-sm-6
                    .partner
                        .partner__img.jsAppLeft
                            img(src='img/img-team1.jpg' alt='')
                        .partner__name.jsAppLeft Steve Royle
                        .partner__position.jsAppLeft Client Solutions Director BHSc
                        .partner__text.jsAppLeft
                            p Steve began his career in sales and marketing roles at Novartis. Since then he’s expanded his knowledge further with over a decade’s worth of healthcare agency experience covering medical communications, advertising, publishing and events.
                            p Steve works alongside clients to identify the NAMM solutions best suited to meet and exceed their brand’s strategic critical success factors.

                .col-sm-6
                    .partner
                        .partner__img.jsAppRight
                            img(src='img/img-team2.png' alt='')
                        .partner__name.jsAppRight Dr Shannon Webber
                        .partner__position.jsAppRight Medical Director BSc MBBS BDSc(Hons) FRACDS(OMS)
                        .partner__text.jsAppRight
                            p Shannon is a practicing oral and maxiollofacial surgeon who has a passion for digital resources that either facilitate knowledge acquisition or enhance patient communication and understanding.
                            p Shannon’s role at Swipe Health involves the crucial task of identifying the latest, most engaging and practical HCP and patient digital resources available on the market today.
            blockquote.jsAppUp In their spare time on weekends during Summer, you’ll find both Steve and Shannon keeping watch as volunteer lifeguards on patrol at Australia’s iconic Bondi Beach (although they can’t lay claim to having appeared on the reality TV show… yet!).
    section.trustus
        .container.container_sm
            .section-title.section-title_wh.section-title_center.jsAppUp Transparency you can trust
            .text.text_wh.text_center.jsAppUp
                p In 1928 the ‘pioneer of marketing’ John Wannamaker was famously quoted:<b> “Half the money I spend on advertising is wasted; the trouble is, I don't know which half.”</b>
                p Today, John would be pleased to discover that the introduction of digital marketing has greatly reduced this uncertainty and speculation in assessing ROI.
                p To this, <b>Swipe</b> Health not only provides our clients with regular analytics reports on their initiatives, we go as far as to provide access to the analytics platforms, so clients can measure the impact of their campaigns and assess the metrics for themselves.
    section.testemonials
        .section-title.section-title_center.jsAppUp What our clients say
        .jsSlider
            .jsSlider__item
                .testemonial
                    .testemonial__text
                        p Steve heads up our client services team as well as the day to day operations at Swipe Health.
                        p With a foundation in pharmaceutical sales and marketing, Steve's healthcare experience is bolstered further with over a decade’s worth of comprehensive agency experience covering medical communications, advertising, publishing and events.
                    .testemonial__info
                        .testemonial__img
                            img(src='img/img-testemonial.png' alt='')
                        .testemonial__name FiRST NAME LAST NAME
                        .testemonial__position Managing Director BH
            .jsSlider__item
                .testemonial
                    .testemonial__text
                        p Steve heads up our client services team as well as the day to day operations at Swipe Health.
                        p With a foundation in pharmaceutical sales and marketing, Steve's healthcare experience is bolstered further with over a decade’s worth of comprehensive agency experience covering medical communications, advertising, publishing and events.
                    .testemonial__info
                        .testemonial__img
                            img(src='img/img-testemonial.png' alt='')
                        .testemonial__name FiRST NAME LAST NAME
                        .testemonial__position Managing Director BH
            .jsSlider__item
                .testemonial
                    .testemonial__text
                        p Steve heads up our client services team as well as the day to day operations at Swipe Health.
                        p With a foundation in pharmaceutical sales and marketing, Steve's healthcare experience is bolstered further with over a decade’s worth of comprehensive agency experience covering medical communications, advertising, publishing and events.
                    .testemonial__info
                        .testemonial__img
                            img(src='img/img-testemonial.png' alt='')
                        .testemonial__name FiRST NAME LAST NAME
                        .testemonial__position Managing Director BH
            .jsSlider__item
                .testemonial
                    .testemonial__text
                        p Steve heads up our client services team as well as the day to day operations at Swipe Health.
                        p With a foundation in pharmaceutical sales and marketing, Steve's healthcare experience is bolstered further with over a decade’s worth of comprehensive agency experience covering medical communications, advertising, publishing and events.
                    .testemonial__info
                        .testemonial__img
                            img(src='img/img-testemonial.png' alt='')
                        .testemonial__name FiRST NAME LAST NAME
                        .testemonial__position Managing Director BH
    section.subsribe-sec#swi
        .container
            .section-title.section-title_wh.section-title_center.jsAppUp Swipe Health alerts and insights
            .text.text_wh.text_center.jsAppUp
                p Gain an edge over competing brands by being the first to learn about future NAMM solutions, sign up for alerts and monthly insights here:
            .form-wrap.jsAppUp
                form
                    .input-control
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-10" />
                        <label class="input__label input__label--jiro" for="input-10">
                        <span class="input__label-content input__label-content--jiro">First Name</span>
                        </label>
                        </span>
                    .input-control.input-control_xl
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-11" />
                        <label class="input__label input__label--jiro" for="input-11">
                        <span class="input__label-content input__label-content--jiro">Email</span>
                        </label>
                        </span>


                    .input-control.input-control_butn
                        button.butn(type='submit') Subscribe