main
    section.banner-inner
        .banner-inner__title-holder
            .banner-inner__title.jsAppDown <span>Contact</span>Us
    section.first-inner-section
        .container
            .section-title-text.section-title-text_mb200.jsAppUp  Stay across the latest news and developments in digital health
                |from around the globe with our Monthly eNewsletter Beyond the Pill.
            .contact-us-wrap.clearfix
                .contact-us-wrap__main
                    .section-title Would you like to
                        |schedule an appointment?
                    .contact-us
                        .contact-us__data
                            .contact-us__img
                                img(src='img/img-about-us-page.png' alt)
                            .contact-us__info
                                .contact-us__name Steve Royle
                                .contact-us__position Director of Swipe Health
                                .contact-us__contacts
                                    p Phone (00) 000 000
                                    p Email: steve.royle@swipehealth.com
                        .contact-us__summary Steve Royle brings over two decades of experience to this organization.
                            |Prior to this position, Kyle served other companies as a Business
                            |Development Manager and then a Director. Kyle graduated with honors
                            |from Great State University. Kyle prides himself on achieving value for his
                            |customers. Prior to his business career, Kyle served in the army, rising to
                            |the rank of General.
                .contact-us-wrap__aside
                    .contactUsForm
                        .contactUsForm__heading
                            .contactUsForm__title Provide information
                            .contactUsForm__time Tue, Mar 17, 2018, 11:00 - 11:30 am
                        form#contactUsForm
                            .contact-input-row
                                input.contact-input(type='text' name='name' placeholder='Your name')
                            .contact-input-row
                                input.contact-input(type='email' name='email' placeholder='Your email')
                            .contact-input-row
                                input.contact-input(type='tel' name='tel' placeholder='Your phone')
                            .contact-input-row
                                select.contact-input
                                    option(disabled selected) Country
                                    option Afghanistan
                                    option Albania
                                    option Algeria
                                    option Andorra
                                    option Angola
                                    option Antigua and Barbuda

                            .contact-input-row
                                select.contact-input
                                    option(disabled selected) Solution of interest
                                    option Solution of interest
                                    option Solution of interest
                                    option Solution of interest
                            .contact-butn-row
                                button.butn.butn_border(type='submit') Done









    section.subsribe-sec
        .container
            .section-title.section-title_wh.section-title_center.jsAppUp Sign up to newsletter <b>for latest insights</b>
            .text.text_wh.text_center.jsAppUp
                p Gain an edge over competing brands by being the first to learn about future NAMM solutions, sign up for alerts and monthly insights here:
            .form-wrap.jsAppUp
                form
                    .input-control
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-10" />
                        <label class="input__label input__label--jiro" for="input-10">
                        <span class="input__label-content input__label-content--jiro">First Name</span>
                        </label>
                        </span>
                    .input-control.input-control_xl
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-11" />
                        <label class="input__label input__label--jiro" for="input-11">
                        <span class="input__label-content input__label-content--jiro">Email</span>
                        </label>
                        </span>
                    .input-control.input-control_butn
                        button.butn(type='submit') Subscribe


