footer
	.upbutton
	.footer__top#con
		.container
			a.logo.jsAppUp(href='#')
				img.footer-logo(src='img/logo-blue.svg' alt)
			.mailto.jsAppUp
				a(href='mailto:connect@swipehealth.com.au') connect@swipehealth.com.au

	.footer__bottom
		.container
			.footer__bottom-item.soc._fr
				a.in(href='#')
				a.tw(href='#')
				a.fb(href='#')
			.footer__bottom-item._fl
				ul.copyright
					li
						a(href='#') PRIVACY
					li
						a(href='#') TERMS & CONDITIONS
					li COPYRIGHT &copy; 2018 SWIPE HEALTH. ALL RIGHTS RESERVED.





#thank-you.modal.fade.popup(role='dialog')
	.modal-dialog
		.modal-content
			button.close.close-x(type='button', data-dismiss='modal')
			.form-wrapper
				.form__title дякуємо!
				.input-row
					b Ваше повідомлення надіслано успішно!
					br
					| Наш спіціаліст зв'яжеться з
					| Вами найближчим часом.
				.input-row
					button.close.btn.btn_blue(type='button', data-dismiss='modal')
						| закрити