header
	.header__item-left
		#jsHambMain.hamburger(role='button')
			span
			span
			span
			span
	a.logo.logo_header(href='index.html')
		img.logo-static(src='img/logo.svg' alt='logo')
		img.logo-on-scroll(src='img/logo-sm-pink.svg' alt='logo')
	ul#nav
		li
			a(href='#sol') SOLUTIONS
		li
			a(href='#abo') ABOUT
		li
			a(href='#swi') INSIGHTS
		li
			a(href='#con') contact
	.header__item-right
		#jsHambSide.hamburger(role='button')
			span
			span
			span
			span