main
    section.banner-inner
        .banner-inner__title-holder
            .banner-inner__title.jsAppDown <span>Digital</span>   Health
            .banner-inner__title-post-info.jsAppDown
                span Marco Ricci
                span Aug 24, 2017
    section.first-inner-section.first-inner-section_bg-wh
        .container.post-container
            .post.clearfix
                .post__main
                    .section-title.jsAppUp  Digital health pioneers gather for
                        |Frontiers Health 2017
                    .post__date August 24, 2017
                    .post__text
                        h2 Leaders in the digital health sphere are set to convene at this year’s
                            |Frontiers Health conference in Berlin.
                        p Reflecting on the divergence of medicine and technology, as well as how digital innovation is shaping
                            |the future of healthcare, this year’s Frontiers Health will gather over 400 thought leaders and over 100
                            |startups from across the industry to discuss the growing digital health market.

                        p Several key topics will be discussed, including the evolving role of AI, wearables, apps, and devices in
                            |improving healthcare, along with the potential of the newly coined ‘digital therapeutics’ field.

                        p Among an extensive agenda are several highlight sessions, including a talk from Roche and mySugr
                            |discussing their ground-breaking collaboration in the diabetes market, a session from the newly
                            |established Digital Therapeutics Alliance, and a ‘game-changers’ panel featuring the likes of Antidote,
                            |Owlstone Medical, Ayogo Health and HealthLoop.

                        p Other keynote talks come from, among others, Jeff Dachis, founder and CEO of One Drop, on how
                            |pharma needs to adapt to the digital health revolution, and Indra Ioshi, clinical lead for NHS England,
                            |on how the NHS is going digital.
                        blockquote Also tackled at the conference will be the topics of digital health scaling,
                            |as featured in a panel featuring MSD, WebMD and eDevice; pharma
                            |transformation in the face of digital innovation, discussed by a panel
                            |featuring Bayer, Sandoz, and Pfizer; the “medicine of me” or the role of
                            |food, music and creative arts in better health.

                    .soc-share-holder
                        .soc-share
                        ul.share-list
                            li
                                a.in(href='#')
                            li
                                a.tw(href='#')
                            li
                                a.fb(href='#')

                    ul.post__tags
                        li
                            a(href='#') #medicine
                        li
                            a(href='#') #helth
                        li
                            a(href='#') #science
                        li
                            a(href='#') #doctor
                    .post__autor
                        .post__autor-img
                            img(src='img/img-autor.png' alt)
                        .post__autor-name Emma Staines
                        .post__autor-position Specialist
                .post__sidebar
                    .post__sidebar-item
                        .post__sidebar-title TRENDING NOW
                        a.trending-post(href='#')
                            .trending-post__title Digital Health
                            .trending-post__date Aug 24, 2017
                        a.trending-post(href='#')
                            .trending-post__title The future for
                                |pharma
                            .trending-post__date Dec 12, 2017
                        a.trending-post(href='#')
                            .trending-post__title How to spot flu
                                |symptoms
                            .trending-post__date Sep 7, 2017

                    .post__sidebar-item
                        .post__sidebar-title RECENTLY POSTED
                        a.recently-post(href='#')
                            .recently-post__img
                                img(src='img/img-post-recent1.png' alt)
                            .recently-post__title Digital Health
                            .recently-post__date Aug 24, 2017
                        a.recently-post(href='#')
                            .recently-post__img
                                img(src='img/img-post-recent2.png' alt)
                            .recently-post__title Health
                            .recently-post__date Sep 17, 2017
                        a.recently-post(href='#')
                            .recently-post__img
                                img(src='img/img-post-recent3.png' alt)
                            .recently-post__title Medicine
                            .recently-post__date Dec 2, 2017
    section.post-pagination.clearfix
        a.post-pagination__item.post-pagination__prev(href='#')
            .post-pagination__title-holder
                .post-pagination__title Previous Post
                .post-pagination__header Finding pharma’s
                    |human side
            img(src='img/img-post-prev.png' alt)
        a.post-pagination__item.post-pagination__next(href='#')
            .post-pagination__title-holder
                .post-pagination__title Next Post
                .post-pagination__header Pulling together in
                    |diabetes care
            img(src='img/img-post-next.png' alt)





    section.subsribe-sec
        .container
            .section-title.section-title_wh.section-title_center.jsAppUp Sign up to newsletter <b>for latest insights</b>
            .text.text_wh.text_center.jsAppUp
                p Gain an edge over competing brands by being the first to learn about future NAMM solutions, sign up for alerts and monthly insights here:
            .form-wrap.jsAppUp
                form
                    .input-control
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-10" />
                        <label class="input__label input__label--jiro" for="input-10">
                        <span class="input__label-content input__label-content--jiro">First Name</span>
                        </label>
                        </span>
                    .input-control.input-control_xl
                        <span class="input input--jiro">
                        <input class="input__field input__field--jiro" type="text" id="input-11" />
                        <label class="input__label input__label--jiro" for="input-11">
                        <span class="input__label-content input__label-content--jiro">Email</span>
                        </label>
                        </span>
                    .input-control.input-control_butn
                        button.butn(type='submit') Subscribe


