doctype html
html(lang="en")
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_contact_content
		include ./components/_footer
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/ev-emitter.js")
		script(src="vendor/js/form_style_classie.js")
		script(src="vendor/js/imagesloaded.js")
		script(src="vendor/js/isotope-docs.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.sticky-kit.js")
		script(src="vendor/js/jquery.viewportchecker.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject

