doctype html
html(lang="en")
	head
		include ./_head
	body(style='background:url(img/bg-banner-inner.png) center no-repeat;background-size: cover;')
		style.
			.list-of-page{
				padding-top: 200px;
				max-width: 300px;
				margin: 0 auto;
				color: #ffffff;
				font-size: 38px;
			}
			.list-of-page a {
				color: #ffffff;
			}
		ol.list-of-page
			li
				a(href='index.html' target='_blank') Main page
			li
				a(href='cat_sourcesre.html' target='_blank') Category page
			li
				a(href='blog.html' target='_blank') Blog page
			li
				a(href='post.html' target='_blank') Single post page
			li
				a(href='contact.html' target='_blank') Contact page




		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/ev-emitter.js")
		script(src="vendor/js/form_style_classie.js")
		script(src="vendor/js/imagesloaded.js")
		script(src="vendor/js/isotope-docs.min.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.sticky-kit.js")
		script(src="vendor/js/jquery.viewportchecker.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject

