/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400");
/*fonts end*/
@-webkit-keyframes moveTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
@keyframes moveTop {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes moveDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes moveDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

/*general styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #666666; }

body.menu-open {
  overflow: hidden; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

@media (min-width: 1244px) {
  .container {
    width: 1214px; } }

@media (min-width: 1244px) {
  .container_sm {
    width: 1014px; } }

/*general styles end*/
/*section*/
section {
  position: relative; }

.section-title {
  padding-top: 23px;
  position: relative;
  color: #333333;
  font-size: 44px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.78px;
  margin-bottom: 45px; }

.section-title:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 2px;
  background: #ff00ff; }

.section-title_wh {
  color: #ffffff; }

.section-title_center {
  text-align: center; }

.section-title_center:before {
  left: 50%;
  margin-left: -20px; }

@media (max-width: 767px) {
  .section-title {
    font-size: 34px;
    text-align: center; }
  .section-title:before {
    left: 50%;
    margin-left: -20px; } }

/*section end*/
/*text*/
.text {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7; }

.text__title {
  color: #333333;
  font-size: 30px;
  margin-bottom: 18px;
  line-height: 1.4; }

@media (max-width: 991px) {
  .text__title {
    font-size: 26px; } }

.text b {
  font-weight: 400; }

.text_wh {
  color: #ffffff; }

.text_center {
  text-align: center; }

/*text end*/
.a-hidden {
  opacity: 0; }

/*section-title-text*/
.section-title-text {
  position: relative;
  max-width: 950px;
  color: #666666;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto 100px; }

@media (max-width: 991px) {
  .section-title-text {
    margin-bottom: 50px; } }

.section-title-text:before {
  content: "";
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 20px);
  left: calc(50% - 20px);
  top: 0;
  width: 40px;
  height: 2px;
  background: #ff00ff; }

@media (max-width: 991px) {
  .section-title-text {
    font-size: 26px; } }

@media (max-width: 767px) {
  .section-title-text {
    font-size: 20px; } }

.section-title-text_mb200 {
  margin-bottom: 200px; }

@media (max-width: 370px) {
  .section-title-text_mb200 {
    margin-bottom: 120px; } }

.section-title-text_mb50 {
  margin-bottom: 50px; }

/*section-title-text end*/
.fb {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%2223%22%20viewBox%3D%220%200%2013%2023%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1362.54%208893.09v9.87l5.26.04-.03-9.94%203.25-.02.9-4.29h-4.15v-3.16c0-.43.18-1.2.91-1.2l2.43.05-.09-4.29-4.79-.02c-1.64%200-3.69%201.98-3.69%204l-.04%204.6-3.22.06v4.28z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb4ed7%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1359%20-8880)%22%2F%3E%3C%2Fsvg%3E"); }

.in {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2223%22%20height%3D%2223%22%20viewBox%3D%220%200%2023%2023%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1284.42%208901.86v-8.72c0-2.07-.95-3.49-2.78-3.49-1.4%200-2.33.96-2.7%201.88-.13.33-.05.73-.05%201.19v9.14h-4.6v-10.97c0-2.01-.65-4.23-.92-4.57h4.6v1.83l.23.02c.66-1.14%202.3-2.58%205.01-2.58%203.32%200%205.81%202.22%205.81%206.96v9.31zm-18.42-15.54h5.52v15.54H1266zm2.67-2.32c-1.59%200-2.62-1.12-2.62-2.5%200-1.42%201.07-2.5%202.7-2.5%201.62%200%202.61%201.08%202.65%202.5%200%201.38-1.03%202.5-2.73%202.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb4ed7%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1266%20-8879)%22%2F%3E%3C%2Fsvg%3E"); }

.tw {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2228%22%20height%3D%2223%22%20viewBox%3D%220%200%2028%2023%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1338.55%208882.85c-1.02.46-2.1.77-3.26.9a5.77%205.77%200%200%200%202.5-3.18%2011.2%2011.2%200%200%201-3.6%201.4%205.62%205.62%200%200%200-4.15-1.83%205.72%205.72%200%200%200-5.52%207.09%2016%2016%200%200%201-11.7-6.03%205.82%205.82%200%200%200%201.76%207.7%205.57%205.57%200%200%201-2.56-.72v.07c0%202.8%201.95%205.13%204.55%205.66a5.6%205.6%200%200%201-2.57.1%205.7%205.7%200%200%200%205.3%204.01%2011.26%2011.26%200%200%201-8.4%202.4c2.51%201.63%205.5%202.58%208.7%202.58%2010.43%200%2016.14-8.8%2016.14-16.42%200-.25%200-.5-.02-.74a11.67%2011.67%200%200%200%202.83-2.99z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb4ed7%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1311%20-8880)%22%2F%3E%3C%2Fsvg%3E"); }

.upbutton {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2239%22%20height%3D%2239%22%20viewBox%3D%220%200%2039%2039%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1318.5%203184a19.5%2019.5%200%201%201%200%2039%2019.5%2019.5%200%200%201%200-39z%22%2F%3E%3Cpath%20id%3D%22b%22%20d%3D%22M1319.83%203198.6c.08.07.13.1.16.15l2.9%202.94c.25.26.54.43.9.45.55.03%201.08-.3%201.3-.81.24-.52.14-1.09-.28-1.51l-3.92-3.99-1.49-1.5c-.53-.53-1.3-.54-1.81-.02l-5.46%205.54a1.36%201.36%200%200%200%20.44%202.17c.52.23%201.06.13%201.47-.28l2.92-2.96.18-.18v13.17c.04.7.61%201.28%201.3%201.3.78.03%201.4-.59%201.4-1.4v-13.07z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23999%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1299%20-3184)%22%2F%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23b%22%20transform%3D%22translate(-1299%20-3184)%22%2F%3E%3C%2Fsvg%3E"); }

.soc-share {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2237%22%20height%3D%2237%22%20viewBox%3D%220%200%2037%2037%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M109.5%20633a18.5%2018.5%200%201%201%200%2037%2018.5%2018.5%200%200%201%200-37z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M118%20657.86v.78l-.03.1a3.74%203.74%200%200%201-2.84%203.15l-.49.11h-.78l-.1-.03a3.46%203.46%200%200%201-1.65-.64%203.6%203.6%200%200%201-1.57-3.44c.01-.15-.07-.17-.16-.22l-5.83-2.9c-.14-.08-.22-.06-.33.04a3.74%203.74%200%200%201-6.1-1.9l-.12-.52v-.78l.03-.1a3.62%203.62%200%200%201%202.47-3.04c1.4-.5%202.68-.2%203.79.78.11.1.18.1.3.04%201.87-.97%203.74-1.93%205.62-2.88.24-.12.4-.24.3-.53-.02-.03%200-.07-.01-.1a3.75%203.75%200%200%201%202.68-3.62c.22-.07.45-.1.68-.16h.78l.1.03a3.7%203.7%200%200%201%203.11%202.69c.07.2.1.43.15.64v.78c-.1.36-.16.73-.3%201.06a3.73%203.73%200%200%201-5.89%201.38c-.1-.08-.17-.1-.3-.04l-5.9%203.03c-.1.05-.15.1-.13.24.02.13.03.29%200%20.42-.04.16.02.22.15.28%201.93.96%203.86%201.92%205.79%202.9.18.09.3.09.47-.05a3.73%203.73%200%200%201%205.96%201.84l.15.66z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate(-91%20-633)%22%3E%3Cuse%20fill%3D%22%23f0f%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%23f0f%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%224%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fg%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-91%20-633)%22%2F%3E%3C%2Fsvg%3E"); }

/*buttons*/
.butn {
  display: inline-block;
  min-width: 200px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #fd46d9;
  border: 2px solid #fd46d9;
  padding: 15px;
  text-align: center;
  color: #f9d7f3;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover, .butn:focus, .butn:active {
  background: #e337c1;
  border-color: #e337c1;
  text-decoration: none;
  color: #f8ccef; }

.butn_border {
  background: transparent;
  color: #fd3ffd; }

.butn_border:hover, .butn_border:focus, .butn_border:active {
  color: #ffdaf7; }

.butn_border-black {
  border: 2px solid #666666;
  color: #666;
  background: transparent; }

.butn_border-black:hover, .butn_border-black:focus, .butn_border-black:active {
  border: 2px solid #666666;
  color: #fff;
  background: #666; }

/*buttons end*/
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: justify;
  padding: 27px 35px 5px;
  font-size: 0;
  z-index: 999;
  text-align: center; }

header:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

@media (max-width: 991px) {
  header {
    min-height: 60px; } }

.header__item-left, .logo_header {
  position: absolute;
  top: 27px;
  left: 35px; }

.header__item-left {
  left: -webkit-calc(100% - 55px);
  left: calc(100% - 55px); }

.logo img {
  max-width: 100%; }

@media (max-width: 991px) {
  .logo_header {
    z-index: 9;
    top: 11px; } }

@media (max-width: 350px) {
  .logo_header {
    max-width: 120px; } }

.header__item-right {
  position: absolute;
  right: 35px;
  top: 38px; }

@media (max-width: 991px) {
  .header__item-right {
    top: 27px;
    display: none; } }

#nav {
  padding-top: 8px;
  display: inline-block;
  vertical-align: top; }

#nav li {
  display: inline-block; }

#nav li + li {
  margin-left: 50px; }

@media (max-width: 1071px) {
  #nav li + li {
    margin-left: 25px; } }

@media (max-width: 991px) {
  #nav li {
    display: block;
    margin-bottom: 20px;
    text-align: center; }
  #nav li + li {
    margin-left: 0; } }

@media (max-width: 991px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 52, 102, 0.96);
    padding-top: 40vh;
    -webkit-transform: translateY(-300%);
        -ms-transform: translateY(-300%);
            transform: translateY(-300%);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  #nav li {
    position: relative;
    -webkit-transform: translateY(-1000px);
        -ms-transform: translateY(-1000px);
            transform: translateY(-1000px);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  #nav.open {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  #nav.open li {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  #nav.open li:nth-child(1) {
    -webkit-transition-delay: .4s;
            transition-delay: .4s; }
  #nav.open li:nth-child(2) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s; }
  #nav.open li:nth-child(3) {
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }
  #nav.open li:nth-child(4) {
    -webkit-transition-delay: .1s;
            transition-delay: .1s; } }

#nav a {
  display: inline-block;
  position: relative;
  color: #dbdbdb;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (max-width: 991px) {
  #nav a {
    font-size: 21px; } }

#nav a:hover {
  color: #ff00ff;
  text-decoration: none; }

#nav a.active {
  color: #ff00ff; }

.hamburger {
  width: 20px;
  height: 36px;
  position: relative;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.hamburger span:nth-child(1) {
  top: 0; }

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 6px; }

.hamburger span:nth-child(4) {
  top: 12px; }

.hamburger.open span:nth-child(1) {
  top: 6px;
  width: 0;
  left: 50%; }

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.hamburger.open span:nth-child(4) {
  top: 6px;
  width: 0;
  left: 50%; }

#jsHambMain {
  display: none;
  position: relative;
  z-index: 99; }

@media (max-width: 991px) {
  #jsHambMain {
    display: inline-block; } }

.logo-static {
  height: 56px; }

.logo-on-scroll {
  height: 40px;
  display: none; }

header.fixed {
  position: fixed;
  background: #fff;
  padding: 16px 35px 20px;
  -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.34);
          box-shadow: 0 0px 25px rgba(0, 0, 0, 0.34); }

header.fixed #nav a {
  color: #999999; }

header.fixed #nav a:hover {
  color: #ff00ff; }

header.fixed #nav a.active {
  color: #ff00ff; }

header.fixed .logo-static {
  display: none; }

header.fixed .logo-on-scroll {
  display: inline-block; }

header.fixed .hamburger span {
  background: #999999; }

header.fixed .header__item-left, header.fixed .logo_header {
  position: absolute;
  top: 9px;
  left: 35px; }

@media (max-width: 991px) {
  header.fixed .header__item-left {
    top: 23px;
    left: -webkit-calc(100% - 55px);
    left: calc(100% - 55px); } }

header.fixed .header__item-right {
  position: absolute;
  right: 35px;
  top: 23px; }

/*banner*/
.banner {
  position: relative;
  background: url("../img/bg-banner.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding-top: 88px;
  padding-bottom: 100px; }

.banner__heading {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 100%;
  text-align: center; }

@media (max-width: 767px) {
  .banner__heading {
    padding-top: 150px;
    position: static;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); } }

@media (max-width: 440px) {
  .banner__heading {
    padding-top: 50px; } }

.banner__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
  line-height: 1.2;
  letter-spacing: -2.27px;
  margin-bottom: 15px; }

@media (max-width: 991px) {
  .banner__title {
    font-size: 50px; } }

@media (max-width: 767px) {
  .banner__title {
    font-size: 40px; } }

@media (max-width: 440px) {
  .banner__title {
    font-size: 35px; } }

.banner__title b {
  font-weight: 400; }

.banner__subtitle {
  color: #ffffff;
  font-size: 34px;
  font-weight: 100;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin-bottom: 34px; }

.arrow-down {
  display: block;
  width: 45px;
  height: 25px;
  position: absolute;
  left: -webkit-calc(50% - 23px);
  left: calc(50% - 23px);
  bottom: 120px;
  -webkit-animation: moveDown 1s infinite;
          animation: moveDown 1s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s; }

@media (max-width: 991px) {
  .arrow-down {
    bottom: 37px; } }

.arrow-down:before, .arrow-down:after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 30px;
  background: #fff;
  left: 0;
  top: 0; }

.arrow-down:before {
  left: -3px;
  top: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.arrow-down:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 17px;
  top: 11px; }

/*banner end*/
/*solutions*/
.solutions {
  padding-top: 88px;
  z-index: 2;
  background-image: -webkit-linear-gradient(275deg, #fff 380px, #f6f6f6 380px);
  background-image: linear-gradient(175deg, #fff 380px, #f6f6f6 380px); }

.solutions:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 99;
  height: 120px;
  bottom: 100%;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49%, transparent), color-stop(50%, #fff));
  background: -webkit-linear-gradient(left top, transparent 49%, #fff 50%);
  background: linear-gradient(to right bottom, transparent 49%, #fff 50%); }

.solutions:after {
  content: "";
  display: block;
  position: absolute;
  height: 120px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49%, transparent), color-stop(50%, #fff));
  background: -webkit-linear-gradient(left top, transparent 49%, #fff 50%);
  background: linear-gradient(to right bottom, transparent 49%, #fff 50%); }

@media (max-width: 991px) {
  .solutions {
    padding-top: 50px; }
  .solutions:before, .solutions:after {
    display: none; } }

.solution {
  margin-bottom: -53px;
  position: relative; }

.solution:nth-child(2), .solution:nth-child(4) {
  z-index: 3; }

.solution:last-child {
  margin-bottom: 0;
  z-index: 999; }

@media (max-width: 991px) {
  .solution {
    margin-bottom: 50px; }
  .solution .row-eq-height {
    display: block; } }

.solution__link {
  display: block;
  -webkit-box-shadow: 0 5px 50px rgba(0, 0, 0, 0.34);
          box-shadow: 0 5px 50px rgba(0, 0, 0, 0.34);
  background-color: #dadada;
  position: relative; }

@media (max-width: 767px) {
  .solution__link {
    max-width: 400px;
    margin: 0 auto 30px; } }

.solution__link:before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  background-color: rgba(253, 70, 217, 0.6);
  z-index: 1; }

.solution__img {
  position: relative;
  overflow: hidden; }

.solution__img:before, .solution__img:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f6f6f6;
  z-index: 2; }

.solution__img:before {
  width: 2px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -1px;
  -webkit-transform: translateY(300%);
      -ms-transform: translateY(300%);
          transform: translateY(300%);
  -webkit-transition-delay: .4s;
          transition-delay: .4s; }

.solution__img:after {
  height: 2px;
  width: 200px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -100px;
  -webkit-transform: translateX(-300%);
      -ms-transform: translateX(-300%);
          transform: translateX(-300%);
  -webkit-transition-delay: .3s;
          transition-delay: .3s; }

.solution__img img {
  max-width: 100%; }

.solution__link:hover:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.solution__link:hover .solution__img:before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.solution__link:hover .solution__img:after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.solution__title {
  display: block;
  color: #333333;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 20px; }

@media (max-width: 767px) {
  .solution__title {
    font-size: 26px; } }

.solution__title:hover {
  color: #fd46d9;
  text-decoration: none; }

.solution__text {
  color: #666666;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px; }

.solution__info {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 50px 0 100px; }

@media (max-width: 1243px) {
  .solution__info {
    padding: 0; } }

@media (max-width: 991px) {
  .solution__info {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); } }

@media (max-width: 767px) {
  .solution__info {
    max-width: 400px;
    margin: 0 auto 30px;
    text-align: center; } }

/*solutions end*/
/*aboutus*/
.aboutus {
  padding: 100px 0 120px; }

@media (max-width: 991px) {
  .aboutus {
    padding: 50px 0; } }

.aboutus:after {
  content: "";
  display: block;
  position: absolute;
  height: 120px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49%, transparent), color-stop(50%, #f6f6f6));
  background: -webkit-linear-gradient(left top, transparent 49%, #f6f6f6 50%);
  background: linear-gradient(to right bottom, transparent 49%, #f6f6f6 50%); }

.aboutus__img {
  text-align: right;
  display: block; }

.aboutus__img img {
  width: 100%;
  max-width: 385px; }

@media (max-width: 991px) {
  .aboutus__img {
    text-align: center;
    margin-bottom: 30px; } }

/*aboutus end*/
/*partners*/
.partners {
  padding: 100px 0 140px 0;
  background-image: -webkit-linear-gradient(275deg, #f6f6f6 640px, #fff 640px);
  background-image: linear-gradient(175deg, #f6f6f6 640px, #fff 640px); }

@media (max-width: 991px) {
  .partners {
    padding: 50px 0; } }

.partners__title {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 40px;
  text-align: center; }

.partners-logo {
  padding-bottom: 55px;
  position: relative;
  margin-bottom: 89px; }

.partners-logo:after {
  content: "";
  display: block;
  position: absolute;
  width: 280px;
  height: 1px;
  background: #d0d0d0;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.partners-logo__item {
  text-align: center;
  position: relative;
  padding: 0 15px;
  height: 100px; }

.partners-logo__item:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  visibility: hidden;
  vertical-align: middle; }

.partners-logo__item img {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle; }

@media (max-width: 1199px) {
  .partners-logo {
    overflow: hidden;
    margin: 0 -15px;
    display: block;
    padding-bottom: 50px; }
  .partners-logo:after {
    bottom: 40px; } }

.jsSliderLogo {
  padding: 0 35px; }

.slick-arrow {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 25px;
  z-index: 99;
  color: #4f96d0;
  font-size: 32px;
  line-height: 1; }

.slick-arrow span {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 21px;
  height: 37px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slick-arrow span:before, .slick-arrow span:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #999;
  height: 2px;
  width: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 2px;
          border-radius: 2px; }

.slick-arrow span:before {
  bottom: 9px; }

.slick-arrow span:after {
  bottom: 26px; }

.slick-arrow-right {
  right: 0; }

.slick-arrow-right span:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-arrow-right span:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-arrow-right:hover span:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #fd46d9; }

.slick-arrow-right:hover span:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: #fd46d9; }

.slick-arrow-left {
  left: 0; }

.slick-arrow-left span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.slick-arrow-left span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slick-arrow-left:hover span:before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: #fd46d9; }

.slick-arrow-left:hover span:after {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: #fd46d9; }

.partner {
  margin-bottom: 55px; }

@media (max-width: 767px) {
  .partner {
    margin-bottom: 65px; } }

.partner__img {
  margin-bottom: 35px; }

@media (max-width: 767px) {
  .partner__img {
    max-width: 345px;
    margin: 0 auto 30px; } }

.partner__img img {
  max-width: 100%; }

.partner__name {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: .9px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 10px; }

@media (max-width: 767px) {
  .partner__name {
    text-align: center; } }

.partner__position {
  color: #999999;
  font-size: 16px;
  line-height: 1.2;
  padding-bottom: 18px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 25px;
  text-transform: uppercase; }

@media (max-width: 767px) {
  .partner__position {
    text-align: center; } }

.partner__text {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7; }

@media (max-width: 767px) {
  .partner__text {
    text-align: center; } }

blockquote {
  padding: 0 0 0 33px;
  margin: 0;
  border-left: none;
  color: #666666;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
  position: relative; }

@media (max-width: 767px) {
  blockquote {
    font-size: 24px; } }

blockquote:before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 60px;
  background: #fd46d9;
  top: 0;
  left: 0; }

/*partners end*/
/*trustus*/
.trustus {
  background: url("../img/bg-trust-us.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 115px 0 105px; }

@media (max-width: 991px) {
  .trustus {
    padding: 50px 0; } }

.trustus:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 25px 0 25px;
  border-color: #ffffff transparent transparent transparent; }

/*trustus end*/
/*testemonials*/
.testemonials {
  padding: 118px 0;
  background: #f6f6f6; }

@media (max-width: 991px) {
  .testemonials {
    padding: 50px 0; } }

.testemonial {
  width: 100%;
  max-width: 779px;
  background: #fff;
  padding: 60px 50px 60px 120px;
  -webkit-box-shadow: 0 0 35px rgba(61, 61, 61, 0.05);
          box-shadow: 0 0 35px rgba(61, 61, 61, 0.05);
  position: relative; }

@media (max-width: 825px) {
  .testemonial {
    width: auto;
    padding: 40px; } }

.testemonial:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  right: 120px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 25px 0 25px;
  border-color: #ffffff transparent transparent transparent; }

.testemonial__text {
  color: #666666;
  font-size: 22px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 35px; }

@media (max-width: 767px) {
  .testemonial__text {
    font-size: 18px; } }

@media (max-width: 520px) {
  .testemonial__text {
    text-align: center; } }

.testemonial__info {
  position: relative;
  padding: 30px 0 0 120px;
  min-height: 100px; }

@media (max-width: 520px) {
  .testemonial__info {
    padding: 0; } }

.testemonial__name {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 1.2;
  text-transform: uppercase; }

@media (max-width: 520px) {
  .testemonial__name {
    text-align: center; } }

.testemonial__position {
  color: #999999;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase; }

@media (max-width: 520px) {
  .testemonial__position {
    text-align: center; } }

.testemonial__img {
  position: absolute;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  left: 0;
  top: 0; }

@media (max-width: 520px) {
  .testemonial__img {
    position: static;
    margin: 0 auto 30px; } }

.jsSlider__item {
  padding: 20px;
  opacity: .3;
  cursor: pointer; }

.jsSlider__item.slick-active {
  opacity: 1; }

.slick-dots {
  margin-top: 50px;
  list-style: none;
  text-align: center;
  display: block;
  font-size: 0; }

.slick-dots button {
  display: none; }

.slick-dots li {
  display: inline-block;
  width: 41px;
  height: 6px;
  background-color: #d0d0d0;
  cursor: pointer; }

.slick-dots li + li {
  margin-left: 10px; }

.slick-dots li.slick-active {
  background-color: #ff00ff; }

/*testemonials end*/
/*subsribe-sec*/
.subsribe-sec {
  padding: 120px 0 190px;
  background: url("../img/bg-form.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed; }

@media (max-width: 991px) {
  .subsribe-sec {
    padding: 50px 0; } }

.subsribe-sec .text {
  max-width: 600px;
  margin: 0 auto 30px; }

.form-wrap {
  text-align: center; }

/*subsribe-sec end*/
/*banner inner*/
.banner-inner {
  min-height: 527px;
  background: url("../img/bg-banner-inner.png") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative; }

@media (max-width: 991px) {
  .banner-inner {
    min-height: 368px; } }

.banner-inner__title-holder {
  top: 50%;
  left: 15px;
  right: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute; }

.banner-inner__title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -2.27px;
  text-align: center; }

.banner-inner__title span {
  font-weight: 100; }

@media (max-width: 991px) {
  .banner-inner__title {
    font-size: 49px; } }

@media (max-width: 767px) {
  .banner-inner__title {
    font-size: 39px; } }

.banner-inner__title-post-info {
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -0.68px;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase; }

@media (max-width: 991px) {
  .banner-inner__title-post-info {
    font-size: 29px; } }

@media (max-width: 767px) {
  .banner-inner__title-post-info {
    font-size: 24px; } }

.banner-inner__title-post-info span {
  display: inline-block; }

.banner-inner__title-post-info span + span:before {
  content: '|';
  display: inline-block;
  margin: 0 10px;
  color: #ff00ff;
  font-weight: 400; }

/*banner inner end*/
/*first inner section*/
.first-inner-section {
  padding-top: 48px;
  z-index: 2;
  background-image: -webkit-linear-gradient(275deg, #fff 380px, #f6f6f6 380px);
  background-image: linear-gradient(175deg, #fff 380px, #f6f6f6 380px); }

.first-inner-section:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 99;
  height: 120px;
  bottom: 100%;
  left: 0;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(49%, transparent), color-stop(50%, #fff));
  background: -webkit-linear-gradient(left top, transparent 49%, #fff 50%);
  background: linear-gradient(to right bottom, transparent 49%, #fff 50%); }

@media (max-width: 991px) {
  .first-inner-section:before {
    display: none; } }

.first-inner-section_bg-wh {
  background: #fff; }

.first-inner-section_xl-line {
  background-image: -webkit-linear-gradient(275deg, #fff 650px, #f6f6f6 650px);
  background-image: linear-gradient(175deg, #fff 650px, #f6f6f6 650px); }

/*first inner section end*/
/*cat-service*/
.cat-service-wrap {
  position: relative;
  clear: both; }

.cat-service-side-bar {
  width: 320px;
  float: left; }

@media (max-width: 991px) {
  .cat-service-side-bar {
    float: none;
    width: auto; } }

.cat-service-main {
  margin-left: 320px; }

@media (max-width: 991px) {
  .cat-service-main {
    margin-left: 0; } }

.nav-cat-serv {
  list-style: none;
  width: 184px;
  border-top: 1px solid #d0d0d0; }

@media (max-width: 991px) {
  .nav-cat-serv {
    width: auto;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #d0d0d0; } }

.nav-cat-serv li {
  display: block; }

@media (max-width: 991px) {
  .nav-cat-serv li {
    display: inline-block; }
  .nav-cat-serv li + li {
    margin-left: 10px; } }

.nav-cat-serv a {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  display: block;
  padding: 21px 0 17px;
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (max-width: 991px) {
  .nav-cat-serv a {
    border-bottom: 0;
    padding: 15px 0 15px; } }

@media (max-width: 767px) {
  .nav-cat-serv a {
    font-size: 18px; } }

.nav-cat-serv a:hover {
  color: #ff00ff;
  text-decoration: none; }

.nav-cat-serv a.active {
  color: #ff00ff; }

.cat-service {
  min-height: 305px;
  margin-bottom: 160px;
  position: relative; }

@media (max-width: 1199px) {
  .cat-service {
    padding-bottom: 75px;
    min-height: 395px; } }

@media (max-width: 600px) {
  .cat-service {
    margin-bottom: 60px;
    min-height: 1px;
    padding-bottom: 0; } }

.cat-service__img {
  width: 299px;
  height: 305px;
  -webkit-box-shadow: 0 5px 50px rgba(51, 51, 51, 0.34);
          box-shadow: 0 5px 50px rgba(51, 51, 51, 0.34);
  position: absolute;
  top: 0; }

@media (max-width: 600px) {
  .cat-service__img {
    position: static;
    margin: 0 auto 20px;
    max-width: 100%; } }

.cat-service__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.cat-service__title {
  color: #333333;
  font-size: 44px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.44px;
  padding-bottom: 25px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 35px; }

@media (max-width: 600px) {
  .cat-service__title {
    font-size: 30px;
    padding-bottom: 18px;
    text-align: center; } }

.cat-service__text {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 45px; }

@media (max-width: 600px) {
  .cat-service__text {
    margin-bottom: 20px; } }

.cat-service:nth-child(odd) {
  padding-right: 340px; }

.cat-service:nth-child(odd) .cat-service__img {
  right: 0; }

.cat-service:nth-child(even) {
  padding-left: 340px; }

.cat-service:nth-child(even) .cat-service__img {
  left: 0; }

@media (max-width: 600px) {
  .cat-service:nth-child(odd) {
    padding-right: 0; }
  .cat-service:nth-child(even) {
    padding-left: 0; } }

.cat-service__butns {
  margin: 0 -7px; }

@media (max-width: 1199px) {
  .cat-service__butns {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center; } }

@media (max-width: 600px) {
  .cat-service__butns {
    position: static; } }

.cat-service__butn {
  font-size: 0;
  display: inline-block;
  width: 100%;
  max-width: 49%;
  padding: 0 7px;
  min-width: 225px; }

@media (max-width: 490px) {
  .cat-service__butn {
    max-width: 100%; } }

.cat-service__butn .butn {
  width: 100%; }

@media (max-width: 490px) {
  .cat-service__butn .butn {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px; } }

/*cat-service end*/
/*blog*/
.grid-sizer, .jsGridItem {
  width: 25%; }

@media (max-width: 1199px) {
  .grid-sizer, .jsGridItem {
    width: 33.333%; } }

@media (max-width: 991px) {
  .grid-sizer, .jsGridItem {
    width: 50%; } }

@media (max-width: 580px) {
  .grid-sizer, .jsGridItem {
    width: 100%; } }

.jsGrid {
  margin: 0 -15px 150px; }

.jsGridItem {
  padding: 0 15px;
  margin-bottom: 30px; }

.post-thumb {
  display: block;
  -webkit-box-shadow: 0 0 35px rgba(61, 61, 61, 0.05);
          box-shadow: 0 0 35px rgba(61, 61, 61, 0.05);
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.post-thumb__img {
  position: relative;
  overflow: hidden; }

.post-thumb__img-overlay {
  position: absolute;
  background: rgba(253, 70, 217, 0.6);
  top: 50%;
  left: 50%;
  bottom: 50%;
  right: 50%;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.post-thumb__img:before, .post-thumb__img:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f6f6f6;
  z-index: 2; }

.post-thumb__img:before {
  width: 2px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -1px;
  -webkit-transform: translateY(400%);
      -ms-transform: translateY(400%);
          transform: translateY(400%);
  -webkit-transition-delay: .4s;
          transition-delay: .4s; }

.post-thumb__img:after {
  height: 2px;
  width: 50px;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -25px;
  -webkit-transform: translateX(-400%);
      -ms-transform: translateX(-400%);
          transform: translateX(-400%);
  -webkit-transition-delay: .3s;
          transition-delay: .3s; }

.post-thumb__img img {
  width: 100%; }

.post-thumb__data {
  padding: 20px 20px 30px; }

.post-thumb__title {
  color: #333333;
  font-size: 29px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.58px;
  margin-bottom: 15px; }

@media (max-width: 991px) {
  .post-thumb__title {
    font-size: 24px; } }

.post-thumb__autor {
  color: #333333;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.36px;
  margin-bottom: 25px; }

.post-thumb__autor span {
  display: inline-block; }

.post-thumb__autor span + span:before {
  display: inline-block;
  content: "|";
  color: #ff00ff;
  margin: 0 9px; }

.post-thumb__text {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.36px; }

.post-thumb:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 0 35px rgba(61, 61, 61, 0.25);
          box-shadow: 0 0 35px rgba(61, 61, 61, 0.25); }

.post-thumb:hover .post-thumb__img .post-thumb__img-overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.post-thumb:hover .post-thumb__img:before {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.post-thumb:hover .post-thumb__img:after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

/*blog end*/
/*post single*/
.post {
  padding-bottom: 140px; }

@media (max-width: 991px) {
  .post {
    padding-bottom: 100px; } }

@media (max-width: 767px) {
  .post {
    padding-bottom: 0; } }

.post__main {
  width: -webkit-calc(100% - 400px);
  width: calc(100% - 400px);
  float: left;
  position: relative; }

@media (max-width: 991px) {
  .post__main {
    width: 100%;
    float: none;
    margin-bottom: 70px; } }

.post__sidebar {
  width: 400px;
  overflow: hidden;
  padding: 32px 20px 0 70px; }

@media (max-width: 991px) {
  .post__sidebar {
    width: 100%;
    padding: 20px; } }

.post__sidebar-item {
  padding-bottom: 65px; }

.post__sidebar-title {
  color: #333333;
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  margin-bottom: 35px; }

.post__date {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.36px;
  margin-bottom: 50px; }

.post__text {
  margin-bottom: 50px; }

.post__text h2 {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.48px;
  margin-bottom: 28px; }

.post__text p {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.36px;
  margin-bottom: 28px; }

.post__tags {
  list-style: none;
  margin-bottom: 40px; }

.post__tags li {
  display: inline-block; }

.post__tags li + li {
  margin-left: 25px; }

.post__tags a {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.36px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.post__tags a:hover {
  text-decoration: none;
  color: #fb4ed7; }

.post__autor {
  position: relative;
  min-height: 79px;
  padding-left: 100px; }

.post__autor-img {
  width: 79px;
  height: 79px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden; }

.post__autor-img img {
  max-width: 100%; }

.post__autor-name {
  color: #333333;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.48px;
  padding-top: 7px;
  margin-bottom: 10px; }

.post__autor-position {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.36px; }

.trending-post {
  -webkit-box-shadow: 0 0 35px rgba(61, 61, 61, 0.15);
          box-shadow: 0 0 35px rgba(61, 61, 61, 0.15);
  background-color: #ffffff;
  padding: 20px 30px;
  margin-bottom: 25px;
  display: block; }

.trending-post:hover {
  text-decoration: none; }

.trending-post__title {
  color: #333333;
  font-size: 29px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.58px;
  margin-bottom: 10px; }

@media (max-width: 991px) {
  .trending-post__title {
    font-size: 24px; } }

@media (max-width: 767px) {
  .trending-post__title {
    font-size: 20px; } }

.trending-post__date {
  color: #666666;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.36px; }

.recently-post {
  position: relative;
  padding-left: 128px;
  min-height: 107px;
  margin-bottom: 50px;
  display: block; }

.recently-post:hover {
  text-decoration: none; }

.recently-post__img {
  width: 107px;
  height: 107px;
  position: absolute;
  left: 0;
  top: 0; }

.recently-post__img img {
  max-width: 100%; }

.recently-post__title {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.48px;
  margin-bottom: 25px;
  padding-top: 20px; }

@media (max-width: 767px) {
  .recently-post__title {
    font-size: 20px; } }

.recently-post__date {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.36px; }

.post-pagination__item {
  height: 417px;
  width: 50%;
  float: left;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.7);
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

@media (max-width: 991px) {
  .post-pagination__item {
    height: 317px; } }

@media (max-width: 767px) {
  .post-pagination__item {
    height: 217px; } }

.post-pagination__item img {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  min-width: 100%; }

.post-pagination__item:hover {
  background: rgba(253, 70, 217, 0.7); }

.post-pagination__item:hover img {
  min-width: 125%; }

.post-pagination__title-holder {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center; }

.post-pagination__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.36px;
  margin-bottom: 30px; }

@media (max-width: 767px) {
  .post-pagination__title {
    font-size: 14px; } }

.post-pagination__header {
  color: #ffffff;
  font-size: 29px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.58px; }

@media (max-width: 991px) {
  .post-pagination__header {
    font-size: 24px; } }

@media (max-width: 767px) {
  .post-pagination__header {
    font-size: 18px; } }

.post-container {
  padding-left: 70px; }

@media (max-width: 767px) {
  .post-container {
    padding-left: 15px; } }

.soc-share-holder {
  z-index: 999;
  width: 37px;
  overflow: hidden;
  top: 0;
  margin-left: -70px;
  position: absolute; }

@media (max-width: 767px) {
  .soc-share-holder {
    position: relative;
    margin-left: 0;
    width: auto;
    padding-left: 57px; } }

.soc-share {
  width: 37px;
  height: 37px;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  position: relative;
  z-index: 999; }

@media (max-width: 767px) {
  .soc-share {
    position: absolute;
    left: 0;
    top: 0;
    cursor: default; } }

.share-list {
  list-style: none;
  text-align: center;
  padding-top: 27px; }

@media (max-width: 767px) {
  .share-list {
    text-align: left;
    padding-top: 7px; } }

.share-list li {
  margin-bottom: 15px;
  position: relative;
  -webkit-transform: translateY(-500%);
      -ms-transform: translateY(-500%);
          transform: translateY(-500%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -99;
  opacity: 0; }

@media (max-width: 767px) {
  .share-list li {
    display: inline-block;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 99;
    opacity: 1;
    text-align: left; }
  .share-list li + li {
    margin-left: 15px; } }

.share-list a {
  display: inline-block;
  width: 29px;
  height: 23px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.soc-share-holder:hover li {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  z-index: 99;
  opacity: 1; }

/*post single end*/
/*contact_page*/
.contact-us-wrap {
  padding-bottom: 104px; }

.contact-us-wrap__main {
  width: -webkit-calc(100% - 460px);
  width: calc(100% - 460px);
  float: left;
  padding-right: 170px; }

@media (max-width: 1199px) {
  .contact-us-wrap__main {
    width: -webkit-calc(100% - 400px);
    width: calc(100% - 400px);
    padding-right: 30px; } }

@media (max-width: 991px) {
  .contact-us-wrap__main {
    width: 100%;
    float: none;
    margin-bottom: 50px; } }

.contact-us-wrap__aside {
  width: 460px;
  overflow: hidden;
  padding: 15px; }

@media (max-width: 1199px) {
  .contact-us-wrap__aside {
    width: 400px; } }

@media (max-width: 991px) {
  .contact-us-wrap__aside {
    max-width: 430px;
    width: 100%;
    margin: 0 auto; } }

.contact-us__data {
  overflow: hidden; }

.contact-us__img {
  width: 234px;
  height: 234px;
  float: left; }

.contact-us__img img {
  max-width: 100%; }

.contact-us__info {
  padding-left: 276px;
  padding-top: 55px;
  min-height: 234px; }

.contact-us__name {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.48px;
  margin-bottom: 10px; }

.contact-us__position {
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: -0.36px;
  margin-bottom: 30px; }

.contact-us__contacts p {
  color: #333333;
  font-size: 17px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.34px;
  margin-bottom: 10px; }

.contact-us__summary {
  padding-top: 30px;
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.36px; }

.contactUsForm {
  -webkit-box-shadow: 0 0 35px rgba(51, 51, 51, 0.05);
          box-shadow: 0 0 35px rgba(51, 51, 51, 0.05);
  background-color: #ffffff; }

.contactUsForm__heading {
  padding: 30px 30px 0 30px;
  border-bottom: 1px solid #d0d0d0; }

.contactUsForm__title {
  color: #333333;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.48px;
  margin-bottom: 10px; }

.contactUsForm__time {
  color: #666666;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.36px;
  margin-bottom: 14px; }

#contactUsForm {
  padding: 20px 30px 50px; }

.contact-input {
  width: 100%;
  color: #666666;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.36px;
  padding: 22px 0 27px;
  border: 0;
  border-bottom: 1px solid #d0d0d0; }

.contact-butn-row {
  padding-top: 60px;
  text-align: right; }

@media (max-width: 991px) {
  .contact-butn-row {
    text-align: center; } }

/*contact_page end*/
.input-control {
  display: inline-block;
  width: 100%;
  max-width: 180px;
  position: relative; }

.input-control + .input-control {
  margin-left: 10px; }

.input-control_xl {
  max-width: 240px; }

.input-control_butn {
  vertical-align: bottom; }

@media (max-width: 767px) {
  .input-control_butn {
    padding-top: 15px; }
  .input-control_butn .butn {
    width: 100%; } }

@media (max-width: 767px) {
  .input-control {
    display: block;
    max-width: 260px;
    margin: 0 auto 5px !important; } }

/* Jiro */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  vertical-align: top; }

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: #f0f0f0;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__field:focus {
  outline: none; }

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.input__label-content {
  position: relative;
  display: block;
  padding: .7em 0;
  width: 100%; }

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none; }

.icon {
  color: #ddd;
  font-size: 150%; }

.input--jiro {
  margin-top: 1.5em; }

.input__field--jiro {
  padding: 0.85em 0.5em;
  width: 100%;
  background: transparent;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.input__label--jiro {
  position: absolute;
  left: 0;
  padding: 0 0.85em;
  width: 100%;
  height: 100%;
  text-align: left;
  pointer-events: none; }

.input__label-content--jiro {
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s; }

.input__label--jiro::before,
.input__label--jiro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }

.input__label--jiro::before {
  border-top: 2px solid #fd46d9;
  -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.input__label--jiro::after {
  z-index: -1;
  background: #fd46d9;
  -webkit-transform: scale3d(1, 0, 1);
  transform: scale3d(1, 0, 1);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
      transform-origin: 50% 0%; }

.input__field--jiro:focus,
.input--filled .input__field--jiro {
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s; }

.input__field--jiro:focus + .input__label--jiro .input__label-content--jiro,
.input--filled .input__label-content--jiro {
  -webkit-transform: translate3d(0, -80%, 0);
  transform: translate3d(0, -80%, 0);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.input__field--jiro:focus + .input__label--jiro::after,
.input--filled .input__label--jiro::after {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.upbutton {
  display: none;
  position: fixed;
  width: 39px;
  height: 39px;
  cursor: pointer;
  bottom: 100px;
  right: 5%;
  z-index: 999;
  background-size: contain;
  background-position: center;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.upbutton.docked {
  bottom: 210px; }

.upbutton:hover {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px); }

@media (max-width: 767px) {
  .upbutton {
    display: none !important; } }

.footer__top {
  text-align: center;
  padding: 88px 0; }

@media (max-width: 991px) {
  .footer__top {
    padding: 50px 0; } }

.footer__top .logo {
  display: inline-block;
  margin-bottom: 29px; }

.footer-logo {
  height: 62px; }

.mailto a {
  color: #fb4ed7;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.6px; }

@media (max-width: 470px) {
  .mailto a {
    font-size: 14px; } }

.mailto a:hover {
  color: #fb4ed7;
  opacity: .9; }

.footer__bottom {
  background: #f3f3f3;
  padding: 30px 0; }

.footer__bottom-item._fr {
  float: right; }

@media (max-width: 767px) {
  .footer__bottom-item._fr {
    margin-bottom: 20px; } }

.footer__bottom-item._fl {
  float: left; }

@media (max-width: 767px) {
  .footer__bottom-item {
    float: none !important;
    text-align: center; } }

.copyright {
  list-style: none;
  color: #5c5c5c;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 10px; }

.copyright li {
  display: inline-block; }

.copyright li + li:before {
  content: '/';
  display: inline-block;
  margin: 0 5px; }

@media (max-width: 520px) {
  .copyright li + li:last-child {
    display: block; }
  .copyright li + li:last-child:before {
    display: none; } }

.copyright a {
  color: #fb4ed7; }

.copyright a:hover {
  color: #fb4ed7; }

.soc a {
  display: inline-block;
  width: 29px;
  height: 23px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  vertical-align: top; }

.soc a + a {
  margin-left: 20px; }

.soc a:hover {
  -webkit-animation: moveTop .3s ease-in-out;
          animation: moveTop .3s ease-in-out; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: .8; }

.close-x:before, .close-x:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }
