/*banner inner*/
.banner-inner{
    min-height: 527px;
    background: url("../img/bg-banner-inner.png") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    @include bp(991){
        min-height: 368px;
    }
    &__title-holder{
        top: 50%;
        left: 15px;
        right: 15px;
        transform: translateY(-50%);
        position: absolute;
    }
   &__title{
       color: #ffffff;
       font-size: 60px;
       font-weight: 400;
       line-height: 1.2;
       letter-spacing: -2.27px;
       text-align: center;
       span{
           font-weight: 100;
       }
       @include bp(991){
           font-size: 49px;
       }
       @include bp(767){
           font-size: 39px;
       }
    }
    &__title-post-info{
        color: #ffffff;
        font-size: 30px;
        font-weight: 100;
        line-height: 1;
        letter-spacing: -0.68px;
        text-align: center;
        padding-top: 20px;
        text-transform: uppercase;
        @include bp(991){
            font-size: 29px;
        }
        @include bp(767){
            font-size: 24px;
        }
        span{
            display: inline-block;
            + span{
                &:before{
                    content: '|';
                    display: inline-block;
                    margin: 0 10px;
                    color: #ff00ff;
                    font-weight: 400;
                }
            }
        }
    }
}
/*banner inner end*/