/*blog*/
.grid-sizer, .jsGridItem{
    width: 25%;
    @media(max-width: 1199px){
        width: 33.333%;
    }
    @include bp(991){
        width: 50%;
    }
    @media (max-width: 580px){
        width: 100%;
    }
}
.jsGrid{
    margin: 0 -15px 150px;
}
.jsGridItem{
    padding: 0 15px;
    margin-bottom: 30px;
}

.post-thumb{
    display: block;
    box-shadow: 0 0 35px rgba(61, 61, 61, 0.05);
    background-color: #ffffff;
    @include trans;

    &__img{
        position: relative;
        overflow: hidden;
        &-overlay{
            position: absolute;
            background: rgba(253, 70, 217, .6);
            top: 50%;
            left: 50%;
            bottom:50%;
            right: 50%;
            z-index: 1;
            @include trans;
        }
        &:before, &:after {
            @include pseudo;
            @include trans;
            background: #f6f6f6;
            z-index: 2;
        }
        &:before {
            width: 2px;
            height: 50px;
            top: 50%;
            left: 50%;
            margin: -25px 0 0 -1px;
            transform: translateY(400%);
            transition-delay: .4s;
        }
        &:after {
            height: 2px;
            width: 50px;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -25px;
            transform: translateX(-400%);
            transition-delay: .3s;
        }
        img{
            width: 100%;
        }
    }
    &__data{
        padding: 20px 20px 30px;

    }
    &__title{
        color: #333333;
        font-size: 29px;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: -0.58px;
        margin-bottom: 15px;
        @include bp(991){
            font-size: 24px;
        }
    }
    &__autor{
        color: #333333;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.36px;
        margin-bottom: 25px;
        span{
            display: inline-block;
            + span{
                &:before{
                    display: inline-block;
                    content:"|";
                    color: #ff00ff;
                    margin: 0 9px;
                }
            }
        }
    }
    &__text{
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: -0.36px;
    }
    &:hover{
        text-decoration: none;
        box-shadow: 0 0 35px rgba(61, 61, 61, 0.25);

        .post-thumb__img {
            .post-thumb__img-overlay{
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }



            &:before {
                transform: translateY(0);
            }
            &:after {
                transform: translateX(0);
            }
        }
    }
}
/*blog end*/