/*buttons*/
.butn{
    display: inline-block;
    min-width: 200px;
    border-radius: 25px;
    background-color: #fd46d9;
    border: 2px solid #fd46d9;
    padding: 15px;
    text-align: center;
    color: #f9d7f3;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    @include trans;
    &:hover, &:focus, &:active{
        background: #e337c1;
        border-color:  #e337c1;
        text-decoration: none;
        color: #f8ccef;
    }
    &_border{
        background: transparent;
        color: #fd3ffd;
        &:hover, &:focus, &:active{
            color: #ffdaf7;
        }
    }
    &_border-black{
        border: 2px solid #666666;
        color:#666;
        background: transparent;
        &:hover, &:focus, &:active{
            border: 2px solid #666666;
            color:#fff;
            background: #666;
        }
    }

}
/*buttons end*/
