/*cat-service*/
.cat-service {
    &-wrap {
        position: relative;
        clear: both;
    }
}

.cat-service-side-bar {
    width: 320px;
    float: left;
    @include bp(991) {
        float: none;
        width: auto;
    }
}

.cat-service-main {
    margin-left: 320px;
    @include bp(991) {
        margin-left: 0;
    }
}

.nav-cat-serv {
    list-style: none;
    width: 184px;
    border-top: 1px solid #d0d0d0;
    @include bp(991) {
        width: auto;
        margin-bottom: 30px;
        text-align: center;
        border-bottom: 1px solid #d0d0d0;
    }
    li {
        display: block;
        @include bp(991) {
            display: inline-block;
            + li {
                margin-left: 10px;
            }
        }
    }
    a {
        color: #333333;
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
        display: block;
        padding: 21px 0 17px;
        border-bottom: 1px solid #d0d0d0;
        @include trans;
        @include bp(991) {
            border-bottom: 0;
            padding: 15px 0 15px;
        }
        @include bp(767){
            font-size: 18px;
        }

        &:hover {
            color: #ff00ff;
            text-decoration: none;
        }
        &.active {
            color: #ff00ff;
        }
    }
}

.cat-service {
    min-height: 305px;
    margin-bottom: 160px;
    position: relative;
    @include bp(1199) {
        padding-bottom: 75px;
        min-height: 395px;
    }
    @media (max-width: 600px){
        margin-bottom: 60px;
        min-height: 1px;
        padding-bottom: 0;
    }

    &__img {
        width: 299px;
        height: 305px;
        box-shadow: 0 5px 50px rgba(51, 51, 51, 0.34);
        position: absolute;
        top: 0;
        @media (max-width: 600px){
            position: static;
            margin: 0 auto 20px;
            max-width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        color: #333333;
        font-size: 44px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.44px;
        padding-bottom: 25px;
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 35px;
        @media (max-width: 600px){
            font-size: 30px;
            padding-bottom: 18px;
            text-align: center;
        }
    }
    &__text {
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 45px;
        @media (max-width: 600px){
            margin-bottom: 20px;
        }
    }
    &:nth-child(odd) {
        padding-right: 340px;
        .cat-service__img {
            right: 0;
        }
    }
    &:nth-child(even) {
        padding-left: 340px;
        .cat-service__img {
            left: 0;
        }
    }
    @media (max-width: 600px){
        &:nth-child(odd) {
            padding-right: 0;
        }
        &:nth-child(even) {
            padding-left: 0;
        }
    }
    &__butns {
        margin: 0 -7px;
        @include bp(1199) {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }
        @media (max-width: 600px){
            position: static;
        }
    }
    &__butn {
        font-size: 0;
        display: inline-block;
        width: 100%;
        max-width: 49%;
        padding: 0 7px;
        min-width: 225px;
        @media (max-width: 490px){
            max-width: 100%;
        }
        .butn {
            width: 100%;
            @media (max-width: 490px){
                width: 100%;
                margin-bottom: 20px;
                font-size: 14px;

            }
        }
    }
}

/*cat-service end*/