/*contact_page*/
.contact-us{
    &-wrap{
        padding-bottom: 104px;
    }
    &-wrap__main{
        width: calc(100% - 460px);
        float: left;
        padding-right: 170px;
        @include bp(1199){
            width: calc(100% - 400px);
            padding-right: 30px;
        }
        @include bp(991){
            width: 100%;
            float: none;
            margin-bottom: 50px;

        }
    }
    &-wrap__aside{
        width: 460px;
        overflow: hidden;
        padding: 15px;
        @include bp(1199){
            width: 400px;
        }
        @include bp(991){
            max-width: 430px;
            width: 100%;
            margin: 0 auto;
        }


    }
    &__data{
     overflow: hidden;
    }
    &__img{
        width: 234px;
        height: 234px;
        float: left;
        img{
            max-width: 100%;
        }
    }
    &__info{
        padding-left: 276px;
        padding-top:55px;
        min-height: 234px;
    }
    &__name{
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: -0.48px;
        margin-bottom: 10px;
    }
    &__position{
        color: #999999;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: -0.36px;
        margin-bottom: 30px;
    }
    &__contacts{
        p{
            color: #333333;
            font-size: 17px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.34px;
            margin-bottom: 10px;
        }
    }
    &__summary{
        padding-top: 30px;
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.3;
        letter-spacing: -0.36px;
    }
}
.contactUsForm{
    box-shadow: 0 0 35px rgba(51, 51, 51, 0.05);
    background-color: #ffffff;
    &__heading{
        padding: 30px 30px 0 30px;
        border-bottom: 1px solid #d0d0d0;
    }
    &__title{
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.48px;
        margin-bottom: 10px;
    }
    &__time{
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.36px;
        margin-bottom: 14px;
    }


}
#contactUsForm{
    padding: 20px 30px 50px;
}
.contact-input{
    width: 100%;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.36px;
    padding: 22px 0 27px;
    border: 0;
    border-bottom: 1px solid #d0d0d0;

}
.contact-butn-row{
    padding-top: 60px;
    text-align: right;
    @include bp(991){
        text-align: center;
    }
}
/*contact_page end*/