/*solutions*/
.solutions {
    padding-top: 88px;
    z-index: 2;
    background-image: linear-gradient(175deg, #fff 380px, #f6f6f6 380px);

    &:before {
        @include pseudo;
        z-index: 99;
        height: 120px;
        bottom: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(to right bottom, transparent 49%, #fff 50%);

    }

    &:after {
        @include pseudo;
        height: 120px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to right bottom, transparent 49%, #fff 50%);
    }
    @include bp(991){
        padding-top: 50px;
        &:before, &:after {

            display: none;
        }
    }
}

.solution {
    margin-bottom: -53px;
    position: relative;
    &:nth-child(2), &:nth-child(4) {
        z-index: 3;
    }
    &:last-child {
        margin-bottom: 0;
        z-index: 999;
    }
    @include bp(991){
        margin-bottom: 50px;
        .row-eq-height{
            display: block;
        }
    }
    &__link {
        display: block;
        box-shadow: 0 5px 50px rgba(0, 0, 0, 0.34);
        background-color: #dadada;
        position: relative;
        @include bp(767){
            max-width: 400px;
            margin: 0 auto 30px;
        }
        &:before {
            @include pseudo;
            @include trans;
            top: 50%;
            left: 50%;
            bottom: 50%;
            right: 50%;
            background-color: rgba(253, 70, 217, 0.6);
            z-index: 1;
        }
    }
    &__img {
        position: relative;
        overflow: hidden;
        &:before, &:after {
            @include pseudo;
            @include trans;
            background: #f6f6f6;
            z-index: 2;
        }
        &:before {
            width: 2px;
            height: 200px;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -1px;
            transform: translateY(300%);
            transition-delay: .4s;
        }
        &:after {
            height: 2px;
            width: 200px;
            top: 50%;
            left: 50%;
            margin: -1px 0 0 -100px;
            transform: translateX(-300%);
            transition-delay: .3s;
        }
        img {
            max-width: 100%;
        }
    }
    &__link:hover {
        &:before {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
        .solution__img {
            &:before {
                transform: translateY(0);
            }
            &:after {
                transform: translateX(0);
            }
        }
    }
    &__title {
        display: block;
        color: #333333;
        font-size: 34px;
        line-height: 1;
        margin-bottom: 20px;
        @include bp(767){
            font-size: 26px;
        }
        &:hover {
            color: #fd46d9;
            text-decoration: none;
        }
    }
    &__text {
        color: #666666;
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    &__info {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 50px 0 100px;
        @media (max-width: 1243px) {
            padding: 0;
        }
        @include bp(991){
            transform: translateY(0);


        }
        @include bp(767){
            max-width: 400px;
            margin: 0 auto 30px;
            text-align: center;
        }

    }
}

/*solutions end*/
/*aboutus*/
.aboutus {
    padding: 100px 0 120px;
    @include bp(991){
        padding: 50px 0;
    }
    &:after {
        @include pseudo;
        height: 120px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to right bottom, transparent 49%, #f6f6f6 50%);
    }
    &__img {
        text-align: right;
        display: block;
        img {
            width: 100%;
            max-width: 385px;
        }
        @include bp(991){
            text-align: center;
            margin-bottom: 30px;
        }
    }
}
/*aboutus end*/
/*partners*/
.partners {
    padding: 100px 0 140px 0;
    @include bp(991){
        padding: 50px 0;
    }
    background-image: linear-gradient(175deg, #f6f6f6 640px, #fff 640px);
    &__title {
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 40px;
        text-align: center;
    }
}
.partners-logo {
    padding-bottom: 55px;
    position: relative;
    margin-bottom: 89px;
    &:after {
        @include pseudo;
        width: 280px;
        height: 1px;
        background: #d0d0d0;
        bottom: 0;
        @include centerX;
    }
    &__item {
        text-align: center;
        position: relative;
        padding: 0 15px;
        height: 100px;
        &:before{
            content:'';
            display: inline-block;
            height: 100%;
            width: 0;
            visibility: hidden;
            vertical-align: middle;
        }

        img {
            display: inline-block;
            max-width: 100%;
            vertical-align: middle;

        }

    }
    @include bp(1199){
        overflow: hidden;
        margin: 0 -15px;
        display: block;
        padding-bottom: 50px;

        &:after {
            bottom: 40px;
        }
    }
}
.jsSliderLogo{
    padding: 0 35px;
}
.slick-arrow {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    z-index: 99;
    color: #4f96d0;
    font-size: 32px;
    line-height: 1;
    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 21px;
        height: 37px;
        @include center;
        &:before, &:after {
            @include pseudo;
            background-color: #999;
            height: 2px;
            width: 25px;
            @include trans;
            border-radius: 2px;
        }
        &:before {
            bottom: 9px;
        }
        &:after {
            bottom: 26px;
        }
    }
}
.slick-arrow-right {
    right: 0;
    span:before {
        transform: rotate(-45deg);
    }
    span:after {
        transform: rotate(45deg);
    }
    &:hover {
        span {
            &:before {
                transform: rotate(135deg);
                background-color: #fd46d9;
            }
            &:after {
                transform: rotate(-135deg);
                background-color: #fd46d9;
            }
        }
    }
}
.slick-arrow-left {
    left:0;
    span:before {
        transform: rotate(45deg);
    }
    span:after {
        transform: rotate(-45deg);
    }
    &:hover {
        span {
            &:before {
                transform: rotate(-135deg);
                background-color: #fd46d9;
            }
            &:after {
                transform: rotate(135deg);
                background-color: #fd46d9;
            }
        }
    }
}
.partner{
    margin-bottom: 55px;
    @include bp(767){
        margin-bottom: 65px;

    }
    &__img{
        margin-bottom: 35px;
        @include bp(767){
            max-width: 345px;
            margin: 0 auto 30px;
        }
      img{
          max-width: 100%;
      }
    }
    &__name{
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        letter-spacing: .9px;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 10px;
        @include bp(767){
            text-align: center;
        }
    }
    &__position{
        color: #999999;
        font-size: 16px;
        line-height: 1.2;
        padding-bottom: 18px;
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 25px;
        text-transform: uppercase;
        @include bp(767){
            text-align: center;
        }
    }
    &__text{
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.7;
        @include bp(767){
            text-align: center;
        }
    }
}

blockquote{
    padding: 0 0 0 33px;
    margin: 0;
    border-left: none;
    color: #666666;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.3;
    position: relative;
    @include bp(767) {
        font-size: 24px;
    }
        &:before{
        @include pseudo;
        width: 2px;
        height: 60px;
        background: #fd46d9;
        top: 0;
        left: 0;
    }
}
/*partners end*/
/*trustus*/
.trustus{
    background: url("../img/bg-trust-us.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 115px 0 105px;
    @include bp(991){
        padding: 50px 0;
    }
    &:before{
        @include pseudo;
        top: 0;
        left: 50%;
        margin-left: -25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 25px 0 25px;
        border-color: #ffffff transparent transparent transparent;
    }
}
/*trustus end*/
/*testemonials*/
.testemonials{
    padding: 118px 0;

    background: #f6f6f6;
    @include bp(991){
        padding: 50px 0;
    }

}
.testemonial{
    width: 100%;
    max-width: 779px;
    background: #fff;
    padding: 60px 50px 60px 120px;
    box-shadow: 0 0 35px rgba(61, 61, 61, 0.05);
    position: relative;
    @media (max-width: 825px){
        width: auto;
        padding:40px;
    }
    &:before{
        @include pseudo;
        top: 100%;
        right: 120px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 22px 25px 0 25px;
        border-color: #ffffff transparent transparent transparent;
    }
    &__text{
        color: #666666;
        font-size: 22px;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 35px;
        @include bp(767){
            font-size: 18px;
        }
        @media (max-width: 520px){
            text-align: center;
        }
    }
    &__info{
        position: relative;
        padding: 30px 0 0 120px;
        min-height: 100px;
        @media (max-width: 520px){
            padding: 0;
        }
    }
    &__name{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1.6px;
        line-height: 1.2;
        text-transform: uppercase;
        @media (max-width: 520px){
            text-align: center;
        }
    }
&__position{
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    text-transform: uppercase;
    @media (max-width: 520px){
        text-align: center;
    }
}
    &__img{
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
        left: 0;
        top: 0;
        @media (max-width: 520px){
            position:static;
            margin: 0 auto 30px;

        }

    }
}
.jsSlider{
    &__item{
        padding: 20px;
        opacity: .3;
        cursor: pointer;
        &.slick-active{
            opacity: 1;
        }
    }
}
.slick-dots{
    margin-top: 50px;
    list-style: none;
    text-align: center;
    display: block;
    font-size: 0;
    button{
        display: none;
    }
    li{
        display: inline-block;
        width: 41px;
        height: 6px;
        background-color: #d0d0d0;
        cursor: pointer;
        + li{
            margin-left: 10px;
        }
        &.slick-active{
            background-color: #ff00ff;
        }
    }
}
/*testemonials end*/
/*subsribe-sec*/
.subsribe-sec{
    padding: 120px 0 190px;
    background: url("../img/bg-form.png") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    @include bp(991){
        padding: 50px 0;
    }
    .text{
        max-width: 600px;
        margin: 0 auto 30px;
    }
}
.form-wrap{
    text-align: center;
}

/*subsribe-sec end*/