/*first inner section*/
.first-inner-section{
    padding-top: 48px;
    z-index: 2;
    background-image: linear-gradient(175deg, #fff 380px, #f6f6f6 380px);
    &:before {
        @include pseudo;
        z-index: 99;
        height: 120px;
        bottom: 100%;
        left: 0;
        width: 100%;
        background: linear-gradient(to right bottom, transparent 49%, #fff 50%);
    }
    @include bp(991){
        &:before {
            display: none;
        }
    }
    &_bg-wh{
        background: #fff;
    }
    &_xl-line{
        background-image: linear-gradient(175deg, #fff 650px, #f6f6f6 650px);

    }
}
/*first inner section end*/