.upbutton{
    display: none;
    position: fixed;
    width: 39px;
    height: 39px;
    cursor: pointer;
    bottom: 100px;
    right: 5%;
    z-index: 999;
    background-size: contain;
    background-position: center;
    transition: all .5s ease-in-out;
    &.docked{
        bottom: 210px;
    }
    &:hover{
        transform: translateY(-8px);
    }
    @include bp(767){
        display: none!important;
    }
}
footer{}
.footer__top{
    text-align: center;
    padding: 88px 0;
    @include bp(991){
        padding: 50px 0;
    }
    .logo{
        display: inline-block;
        margin-bottom: 29px;
    }
}
.footer-logo{
    height: 62px;
}

.mailto{
    a{
        color: #fb4ed7;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        @media(max-width: 470px){
            font-size: 14px;
        }
        &:hover{
            color: #fb4ed7;
            opacity: .9;
        }
    }
}

.footer__bottom{
    background: #f3f3f3;
    padding: 30px 0;

    &-item{
        &._fr{
            float: right;
            @include bp(767){
                margin-bottom: 20px;
            }
        }
        &._fl{
            float: left;

        }
        @include bp(767){
            float: none!important;
            text-align: center;
        }
    }

}
.copyright{
    list-style: none;
    color: #5c5c5c;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    padding-top: 10px;
    li{
        display: inline-block;
        + li{
            &:before{
                content: '/';
                display: inline-block;
                margin: 0 5px;
            }
            @media (max-width: 520px){
                &:last-child{
                    display: block;
                    &:before{
                        display: none;
                    }
                }
            }
        }
    }
    a{
        color: #fb4ed7;
        &:hover{
            color: #fb4ed7;

        }
    }
}

.soc{
    a{
        display: inline-block;
        width: 29px;
        height: 23px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        vertical-align: top;
        + a{
            margin-left: 20px;
        }
        &:hover{
            animation: moveTop .3s ease-in-out;
        }
    }
}
.modal-content .contacts-form-wrapper{
      position: relative;
  }
.close-x {
    top: 15px;
    right: 15px;
    position: absolute;
    width: 16px;
    height: 16px;
    cursor: pointer;
    &:hover{
        opacity: .8;
    }
    &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 22px;
        top: 7px;
        left: -3px;
        background: #fff;
    }
    &:before{
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after {
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    }
}