/*general styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    &:active, &:focus{
        outline: none!important;
        text-decoration: none!important;
    }
}
html{
    height: 100%;
    overflow-x: hidden;
}
body{
    min-height: 100%;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #666666;

}
body.menu-open{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6,ul,ol{
    margin: 0;
    padding: 0;
}
.row-eq-height {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.clearfix:before, .clearfix:after{
    content: ' ';
    display: table;
    clear: both;
}
@media (min-width: 1244px) {
    .container {
        width: 1214px;
    }
}
@media (min-width: 1244px) {
    .container_sm {
        width: 1014px;
    }
}
/*general styles end*/
/*section*/
section {
    position: relative;
}
.section-title{
    padding-top: 23px;
    position: relative;
    color: #333333;
    font-size: 44px;
    font-weight: 300;
    line-height: 1.3;
    letter-spacing: -0.78px;
    margin-bottom: 45px;

    &:before{
         @include pseudo;
         left: 0;
         top: 0;
         width: 40px;
         height: 2px;
         background: #ff00ff;
     }
    &_wh{
        color: #ffffff;
    }
    &_center{
        text-align: center;
        &:before{
            left: 50%;
            margin-left: -20px;
        }
    }
    @include bp(767){
        font-size: 34px;
        text-align: center;
        &:before{
            left: 50%;
            margin-left: -20px;
        }
    }
}
/*section end*/
/*text*/
.text{
    &__title{
        color: #333333;
        font-size: 30px;
        margin-bottom: 18px;
        line-height: 1.4;
        @include bp(991){
            font-size: 26px;
        }
    }
    color: #666666;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.7;
    b{
        font-weight: 400;
    }
    &_wh{
        color: #ffffff;
    }
    &_center{
        text-align: center;
    }
}
/*text end*/
.a-hidden {
    opacity: 0;
}
/*section-title-text*/
.section-title-text{
    position: relative;
    max-width: 950px;
    color: #666666;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4;
    text-align: center;
    padding-top: 40px;
    margin: 0 auto 100px;
    @include bp(991){
        margin-bottom: 50px;
    }
    &:before{
        @include pseudo;
        left: calc(50% - 20px);
        top: 0;
        width: 40px;
        height: 2px;
        background: #ff00ff;
    }
    @include bp(991){
        font-size: 26px;
    }
    @include bp(767){
        font-size: 20px;
    }
    &_mb200{
        margin-bottom: 200px;
        @media (max-width: 370px){
            margin-bottom: 120px;
        }
    }
    &_mb50{
        margin-bottom: 50px;
    }
}


/*section-title-text end*/