header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include jusWrap;
    padding: 27px 35px 5px;
    font-size: 0;
    z-index: 999;
    text-align: center;
    @include bp(991){
        min-height: 60px;
    }
}
.header__item-left, .logo_header{
    position: absolute;
    top: 27px;
    left: 35px;

}
.header__item-left{
    left:calc(100% - 55px);
}
.logo{
    img{
        max-width: 100%;
    }
}
.logo_header{
    @include bp(991){
        z-index: 9;
        top: 11px;
        //left: 50%;
        //transform: translateX(-50%);
    }
    @media (max-width: 350px){
        max-width: 120px;
    }
}
.header__item-right{
    position: absolute;
    right: 35px;
    top: 38px;
    @include bp(991){
        top: 27px;
        display: none;
    }
}
#nav{
    padding-top: 8px;
    display: inline-block;
    vertical-align: top;


    li{
        display: inline-block;
        +li{
            margin-left: 50px;
            @media (max-width: 1071px){
                margin-left: 25px;
            }
        }

        @include bp(991){
            display: block;
            margin-bottom: 20px;
            text-align: center;
            + li{
                margin-left: 0;
            }
        }
    }
    @include bp(991){
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height:100vh;
        background: rgba(#0a3466, .96);
        padding-top: 40vh;
        transform: translateY(-300%);
        transition: all .5s ease-in-out;
        li{
            position: relative;
            transform: translateY(-1000px);
            transition: all .5s ease-in-out;
        }
        &.open{
            transform: translateY(0);
            li{
                transform: translateY(0);
                &:nth-child(1){transition-delay: .4s;}
                &:nth-child(2){transition-delay: .3s;}
                &:nth-child(3){transition-delay: .2s;}
                &:nth-child(4){transition-delay: .1s;}

            }

        }
    }
    a{
        display: inline-block;
        position: relative;
        color: #dbdbdb;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        line-height: 1;
        @include trans;
        @include bp(991){
            font-size: 21px;
        }
        &:hover{
            color: #ff00ff;
            text-decoration: none;

        }
        &.active{
            color: #ff00ff;
        }
    }
}

.hamburger {
    width: 20px;
    height: 36px;
    position: relative;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2), &:nth-child(3) {
            top: 6px;
        }
        &:nth-child(4) {
            top: 12px;
        }
    }
    &.open span:nth-child(1) {
        top: 6px;
        width: 0;
        left: 50%;
    }
    &.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    &.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    &.open span:nth-child(4) {
        top: 6px;
        width: 0;
        left: 50%;
    }
}
#jsHambMain{
    display: none;
    position: relative;
    z-index: 99;
    @include bp(991){
        display: inline-block;
    }
}
.logo-static{
    height: 56px;
}
.logo-on-scroll{
    height: 40px;
    display: none;
}
header.fixed{
    position: fixed;
    background: #fff;
    padding: 16px 35px 20px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.34);
    #nav{

        a{
            color: #999999;
            &:hover{
                color: #ff00ff;
            }
            &.active{
                color: #ff00ff;
            }
        }
    }
    .logo-static{
        display: none;
    }
    .logo-on-scroll{
        display: inline-block;
    }
    .hamburger{
        span{
            background: #999999;
        }
    }
    .header__item-left, .logo_header{
        position: absolute;
        top: 9px;
        left: 35px;

    }
    .header__item-left{
        @include bp(991) {
            top: 23px;
            left: calc(100% - 55px);
        }
    }
    .logo_header {
        //@include bp(991) {
        //    left: 50%;
        //    transform: translateX(-50%);
        //}
    }
    .header__item-right{
        position: absolute;
        right: 35px;
        top: 23px;
    }
}