/*banner*/
.banner {
    position: relative;
    background: url("../img/bg-banner.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 88px;
    padding-bottom: 100px;
    &__heading {
        position: absolute;
        @include center;
        max-width: 100%;
        text-align: center;
        @include bp(767){
            padding-top: 150px;
            position: static;
            transform: translate(0,0);
        }
        @media (max-width: 440px){
            padding-top: 50px;
        }
    }
    &__title {
        color: #ffffff;
        font-size: 60px;
        font-weight: 100;
        line-height: 1.2;
        letter-spacing: -2.27px;
        margin-bottom: 15px;
        @include bp(991){
            font-size: 50px;
        }
        @include bp(767){
            font-size: 40px;
        }
        @media (max-width: 440px){
            font-size: 35px;
        }
        b {
            font-weight: 400;
        }
    }
    &__subtitle{
        color: #ffffff;
        font-size: 34px;
        font-weight: 100;
        line-height: 1.4;
        letter-spacing: 1.5px;
        margin-bottom: 34px;
    }
}
.arrow-down{
    display: block;
    width: 45px;
    height: 25px;
    position: absolute;
    left:calc(50% - 23px);
    bottom: 120px;
    animation: moveDown 1s infinite ;
    animation-delay: 5s;
    @include bp(991){
        bottom: 37px;
    }
    &:before, &:after{
        @include pseudo;
        height: 3px;
        width: 30px;
        background: #fff;
        left: 0;
        top: 0;

    }
    &:before{
        left: -3px;
        top: 11px;
        transform: rotate(45deg);
    }
    &:after{
        transform: rotate(-45deg);
        left: 17px;
        top: 11px;
    }


}
/*banner end*/