/*post single*/
.post {
    padding-bottom: 140px;
    @include bp(991){
        padding-bottom: 100px;
    } @include bp(767){
        padding-bottom: 0;
    }
    &__main {
        width: calc(100% - 400px);
        float: left;
        position: relative;
        @include bp(991){
            width: 100%;
            float: none;
            margin-bottom: 70px;
        }

    }
    &__sidebar {
        width: 400px;
        overflow: hidden;
        padding: 32px 20px 0 70px;
        @include bp(991) {
            width: 100%;
            padding: 20px;
        }
            &-item {
            padding-bottom: 65px;
        }
        &-title {
            color: #333333;
            font-size: 25px;
            font-weight: 300;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: -0.6px;
            margin-bottom: 35px;
        }
    }
    &__date {
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.36px;
        margin-bottom: 50px;
    }
    &__text {
        margin-bottom: 50px;
        h2 {
            color: #333333;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3;
            letter-spacing: -0.48px;
            margin-bottom: 28px;
        }
        p {
            color: #666666;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: -0.36px;
            margin-bottom: 28px;
        }
    }
    &__tags {
        list-style: none;
        margin-bottom: 40px;
        li {
            display: inline-block;
            + li {
                margin-left: 25px;
            }
        }
        a {
            color: #666666;
            font-size: 18px;
            font-weight: 400;
            line-height: 1;
            letter-spacing: -0.36px;
            @include trans;
            &:hover {
                text-decoration: none;
                color: #fb4ed7;
            }
        }
    }
    &__autor {
        position: relative;
        min-height: 79px;
        padding-left: 100px;
        &-img {
            width: 79px;
            height: 79px;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            img {
                max-width: 100%;
            }
        }
        &-name {
            color: #333333;
            font-size: 24px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.48px;
            padding-top: 7px;
            margin-bottom: 10px;
        }
        &-position {
            color: #666666;
            font-size: 18px;
            font-weight: 300;
            line-height: 1;
            letter-spacing: -0.36px;
        }
    }
}

.trending-post {
    box-shadow: 0 0 35px rgba(61, 61, 61, 0.15);
    background-color: #ffffff;
    padding: 20px 30px;
    margin-bottom: 25px;
    display: block;
    &:hover{
        text-decoration: none;
    }
    &__title{
        color: #333333;
        font-size: 29px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.58px;
        margin-bottom: 10px;
        @include bp(991) {
              font-size: 24px;
          }
        @include bp(767) {
            font-size: 20px;
        }
    }
    &__date{
        color: #666666;
        font-size: 18px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.36px;
    }
}
.recently-post{
    position: relative;
    padding-left: 128px;
    min-height: 107px;
    margin-bottom: 50px;
    display: block;
    &:hover{
        text-decoration: none;
    }
    &__img{
        width: 107px;
        height: 107px;
        position: absolute;
        left: 0;
        top: 0;
        img{
            max-width: 100%;
        }
    }
    &__title {
        color: #333333;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.48px;
        margin-bottom: 25px;
        padding-top: 20px;
        @include bp(767) {
            font-size: 20px;
        }
    }
    &__date{
        color: #666666;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.36px;
    }
}
.post-pagination{
    &__item{
        height: 417px;
        width: 50%;
        float: left;
        overflow: hidden;
        background: rgba(#333, .7);
        position: relative;
        @include trans;
        @include bp(991){
            height: 317px;
        }
        @include bp(767){
            height: 217px;
        }
        img{
            position: absolute;
            z-index: -1;
            @include center;
            display: block;
            @include trans;
            min-width: 100%;

        }
        &:hover{
            background:rgba(253, 70, 217, 0.7);
            img{
                min-width:125%;
            }
        }
    }
    &__title-holder{
        position: absolute;
        left: 15px;
        right: 15px;
        @include centerY;
        text-align: center;

    }
    &__title{
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -0.36px;
        margin-bottom: 30px;
        @include bp(767){
            font-size: 14px;
        }
    }
    &__header{
        color: #ffffff;
        font-size: 29px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.58px;
        @include bp(991){
            font-size: 24px;
        }
        @include bp(767){
            font-size: 18px;
        }
    }
}
.post-container{
    padding-left: 70px;
    @media(max-width: 767px){
        padding-left: 15px;
    }
}
.soc-share-holder{
    z-index: 999;
    width: 37px;
    overflow: hidden;
    top: 0;
    margin-left:-70px;
    position: absolute;
    @media(max-width: 767px){
        position: relative;
        margin-left:0;
        width: auto;
        padding-left: 57px;
    }


}
.soc-share{
    width: 37px;
    height: 37px;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    position: relative;
    z-index: 999;
    @media(max-width: 767px){
        position: absolute;
        left: 0;
        top: 0;
        cursor:default;
    }
}
.share-list{
    list-style: none;
    text-align: center;
    padding-top: 27px;
    @media(max-width: 767px){
        text-align: left;
        padding-top: 7px;
    }
    li{
        margin-bottom: 15px;

        position: relative;
        transform: translateY(-500%);
        transition: all .3s ease-in-out;
        z-index: -99;
        opacity: 0;
        @media(max-width: 767px){
            display: inline-block;
            transform: translateY(0);
            z-index: 99;
            opacity: 1;
            text-align: left;
            + li{
                margin-left: 15px;
            }
        }
    }
    a{
        display: inline-block;
        width: 29px;
        height: 23px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}
.soc-share-holder:hover{
    li{
        transform: translateY(0);
        z-index: 99;
        opacity: 1;

    }
}

/*post single end*/